<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
		<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
		<title>Bomba Austria</title>

		<!-- Site favicon -->
		<link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'> 
		<!-- /site favicon -->

		<!-- Entypo font stylesheet -->
		<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
		<!-- /entypo font stylesheet -->

		<!-- Font awesome stylesheet -->
		<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}"rel="stylesheet">
		<!-- /font awesome stylesheet -->

		<!-- Bootstrap stylesheet min version -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!-- /bootstrap stylesheet min version -->

		<!-- Mouldifi core stylesheet -->
		<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
		<!-- /mouldifi core stylesheet -->

		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


		<link href="{% static "mouldifi/light/css/plugins/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/colorpicker/bootstrap-colorpicker.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/nouislider/nouislider.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet" >
	</head>
	<!-- <body oncontextmenu="return false" onkeydown="return false"> -->
	<body>
		<!-- Page container -->
		<div class="page-container">
			<!-- Page Sidebar -->
			<div class="page-sidebar">
				<!-- Site header  -->
				<header class="site-header">
					<div class="site-logo">
						<a href="">
							<img src=" {% static "/images/logo-bomba.jpg" %}" alt="Bomba Austria" title="Bomba Austria">
						</a>
					</div>
					<div class="sidebar-collapse hidden-xs">
						<a class="sidebar-collapse-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
					<div class="sidebar-mobile-menu visible-xs">
						<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
				</header>
				<!-- /site header -->

				<!-- Main navigation -->
				<ul id="side-nav" class="main-menu navbar-collapse collapse">
					<li id="dashboard" class="">
						<a href="">
							<i class="icon-gauge"></i><span class="title">Dashboard</span>
						</a>
					</li>
			
					<li id="secretario" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Ingresar Recaudador</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="ingresarRecaudador" class="">
								<a href="{% url 'secretario:ingresar_recaudador' %}"><span class="title">Ingresar Recaudador</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar datos de los Socios Cooperadors</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'secretario:visualizar_socios' %}"><span class="title">Visualizar datos de los Socios Cooperadorss</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Estados de Cuenta del mes</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'secretario:estados_cuentas' %}"><span class="title">Visualizar Estados de Cuenta del mes</span></a>
							</li>
						</ul>
					</li>

				</ul>
				<!-- /main navigation -->	
  			</div>
  			<!-- /page sidebar -->

  			<div class="main-content">
				<!-- Main header -->
				<div class="main-header row">
					<div class="col-sm-6 col-xs-7 pull-right">
						<!-- User info -->
						<ul class="user-info pull-right">          
							<li class="profile-info dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
									<img width="44" class="img-circle avatar" alt="" src="{% static "/images/man-3.jpg" %}"> {{request.user.get_full_name}} <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/logout"><i class="icon-logout"></i>Cerrar Sesión</a>
									</li>
								</ul>
							</li>
						</ul>
						<!-- /user info -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title">Ingresar Nuevo Recaudador</h3>
							</div>
							<div class="panel-body">
								 <form id="recaudador_form" name="recaudador_form" action="" method="post" class="form-horizontal">
								 	<div class="form-group"> 
										<label class="col-sm-2 control-label">Nombre Usuario</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Nombre Usuario" class="form-control" name="Nombre_user" id="Nombre_user"> 
												<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<div class="line-dashed"></div>
								 	<div class="form-group"> 
										<label class="col-sm-2 control-label">Nombre</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Nombre" class="form-control" name="Nombre" id="Nombre"> 
												<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<div class="line-dashed"></div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Apellido</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Apellido" class="form-control" name="Apellido" id="Apellido"> 
												<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<div class="line-dashed"></div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Correo Electronico</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input onchange="validate()" type="email" placeholder="Correo Electronico" class="form-control" name="email" id="email"> 
												<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<div class="line-dashed"></div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Contraseña</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="password" placeholder="Contraseña" class="form-control" name="password" id="password"> 
												<span class="input-group-addon"><i class="icon-vcard"></i></span>
											</div>
										</div> 
									</div>
									<div class="line-dashed"></div>
									<div class="form-group">
										<div class="col-sm-8 col-sm-offset-2">
											<a href="/secretario/" class="btn btn-white pull-left">Cancelar</a>
											<button type="button" onclick="guardar()" class="btn btn-primary pull-right">Guardar Recaudador</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<!--Load JQuery-->
<script src="{% static "mouldifi/light/js/jquery.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/bootstrap.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/metismenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery-ui.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery.blockUI.js" %}"></script>

<!--Float Charts-->
<script src="{% static "mouldifi/light/js/functions.js" %}"></script>
<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>

<script>
	function validateEmail(correo) {
  		var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  		return re.test(correo);
	}
	function validate() {
  		var email = $("#email").val();
  		if (validateEmail(email)) {
    		$("#email").css("background-color", "#81F781");
  		} else {
  			$("#email").val("");
    		$("#email").css("background-color", "#F78181");
    		alert('Correo Invalido')
  		}
  		return false;
	}
	function guardar(){
		var form = $('#recaudador_form');
		var data = [];
		var falta = []
		for (var i = 0; i < form[0].length-1; i++){
			var aux = {};
			if (form[0][i].value != ''){
				aux[form[0][i].id]= form[0][i].value;
				data.push(aux);
			}
			else{
				falta.push(form[0][i].id);
			}
		}
		if (falta.length == 0){
			var url = "{% url "secretario:guardar_recaudador" %}";
	        $.ajaxSetup({
	            headers: {"X-CSRFToken": '{{csrf_token}}'}
	        });

	        $.ajax({
	            type: 'post',
	            url: url,
	            data: JSON.stringify(data),
	            dataType: 'json',
	            success:function(data){
	            	var respuesta =JSON.parse(JSON.stringify(data));
	            	if (respuesta['respuesta'] == 'correcto'){
	                	alert("Guardado con Exito!!");
	                	document.location.href='/secretario/ingresar_recaudador';
	                }
	                else{
	                	alert(respuesta['respuesta']);	
	                }
	            }
	        });
	    }
	    else{
	    	var respuesta = " ";
	    	for (var i = 0; i< falta.length; i++){
	    		respuesta += falta[i] + " ";
	    	}
	    	alert("Faltan los siguientes campos: " + respuesta);
	    }
	}
</script>