<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
		<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
		<title>Bomba Austria</title>

		<!-- Site favicon -->
		<link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'>
		<!-- /site favicon -->

		<!-- Entypo font stylesheet -->
		<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
		<!-- /entypo font stylesheet -->

		<!-- Font awesome stylesheet -->
		<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}"rel="stylesheet">
		<!-- /font awesome stylesheet -->

		<!-- Bootstrap stylesheet min version -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!-- /bootstrap stylesheet min version -->

		<!-- Mouldifi core stylesheet -->
		<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
		<!-- /mouldifi core stylesheet -->

		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


		<link href="{% static "mouldifi/light/css/plugins/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/colorpicker/bootstrap-colorpicker.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/nouislider/nouislider.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet" >
	</head>
	<!-- <body oncontextmenu="return false" onkeydown="return false"> -->
	<body>
		<!-- Page container -->
		<div class="page-container">
			<!-- Page Sidebar -->
			<div class="page-sidebar">
				<!-- Site header  -->
				<header class="site-header">
					<div class="site-logo">
						<a href="">
							<img src=" {% static "/images/logo-bomba.jpg" %}" alt="Bomba Austria" title="Bomba Austria">
						</a>
					</div>
					<div class="sidebar-collapse hidden-xs">
						<a class="sidebar-collapse-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
					<div class="sidebar-mobile-menu visible-xs">
						<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
				</header>
				<!-- /site header -->
				<!-- Main navigation -->
				<ul id="side-nav" class="main-menu navbar-collapse collapse">
					<li id="dashboard" class="">
						<a href="">
							<i class="icon-gauge"></i><span class="title">Dashboard</span>
						</a>
					</li>

					<li id="secretario" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Ingresar Recaudador</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="ingresarRecaudador" class="">
								<a href="{% url 'secretario:ingresar_recaudador' %}"><span class="title">Ingresar Recaudador</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar datos de los Socios Cooperadors</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'secretario:visualizar_socios' %}"><span class="title">Visualizar datos de los Socios Cooperadorss</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Estados de Cuenta del mes</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'secretario:estados_cuentas' %}"><span class="title">Visualizar Estados de Cuenta del mes</span></a>
							</li>
						</ul>
					</li>

				</ul>
				<!-- /main navigation -->
  			</div>
  			<!-- /page sidebar -->
			<div class="main-content">
				<!-- Main header -->
				<div class="main-header row">
					<div class="col-sm-6 col-xs-7 pull-right">
						<!-- User info -->
						<ul class="user-info pull-right">
							<li class="profile-info dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
									<img width="44" class="img-circle avatar" alt="" src="{% static "/images/man-3.jpg" %}"> {{request.user.get_full_name}} <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/logout"><i class="icon-logout"></i>Cerrar Sesión</a>
									</li>
								</ul>
							</li>
						</ul>
						<!-- /user info -->
					</div>
				</div>
				<h1 class="page-title">Secretario</h1>
				<!-- Main content -->
				<div class="main-content-20">
					<h1 class="page-title"></h1>
					<div class="row">
						<div class="col-lg-12">
							<!-- panel-->
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-title">Secretario</div>
									<ul class="panel-tool-options">
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<!-- panel-->
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-title">Cantidad de Socios inscritos por año</div>
									<ul class="panel-tool-options">
										<li><a data-rel="reload" href="/secretario/"><i class="icon-arrows-ccw"></i></a></li>
									</ul>
								</div>
								<!-- panel body -->
								<div class="panel-body">
									<div class="canvas-chart">
										<canvas id="lineChart" height="140"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Footer -->
					<footer class="footer-main">
						&copy; 2017 <strong>Bomba Austria</strong> by Luis Aguilera Vera</a>
					</footer>
					<!-- /footer -->
				</div>
				<!-- /main container -->
			</div>
			<!-- /main content -->
		</div>
		<!-- /page container -->
	</body>
</html>

<!--Load JQuery-->
<script src="{% static "mouldifi/light/js/jquery.min.js"%}"></script>
<script src="{% static "mouldifi/light/js/bootstrap.min.js"%}"></script>
<script src="{% static "mouldifi/light/js/plugins/metismenu/jquery.metisMenu.js"%}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery-ui.js"%}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery.blockUI.js"%}"></script>
<script src="{% static "mouldifi/light/js/functions.js"%}"></script>

<!--DataTables-->
<script src="{% static "mouldifi/light/js/plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/jszip.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/pdfmake.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/vfs_fonts.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js" %}"></script>

<!--Float Charts-->
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.tooltip.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.resize.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.pie.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.time.min.js"%}"></script>
<!-- <script src="{% static "mouldifi/light/js/plugins/flot/flot-script.js"%}"></script> -->

<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>

<!--ChartJs-->
<script src="{% static "mouldifi/light/js/plugins/chartjs/Chart.min.js" %}"></script>

<script>
	$(document).ready(function(){
		$.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });
        $.ajax({
        	type: 'post',
        	url: "{% url "secretario:graficar" %}",
        	success: function(data){
        		var respuesta = data;
        		var datos = [];
        		var labels = [];
        		for (key in respuesta){
        			aux = key;
        			aux2 = respuesta[key];
        			labels.push(aux);
        			datos.push(aux2);

        		}
				var lineData = {
			        labels: labels,
			        datasets: [
			            {
			                label: "Example dataset",
			                fillColor: "#7CB5EC",
			                strokeColor: "#7CB5EC",
			                pointColor: "#3C8DBC",
			                pointStrokeColor: "#fff",
			                pointHighlightFill: "#fff",
			                pointHighlightStroke: "#3C8DBC",
			                data: datos
			            },

			        ]
			    };

			    var lineOptions = {
			        scaleShowGridLines: true,
			        scaleGridLineColor: "rgba(0,0,0,.05)",
			        scaleGridLineWidth: 1,
			        bezierCurve: true,
			        bezierCurveTension: 0.4,
			        pointDot: true,
			        pointDotRadius: 4,
			        pointDotStrokeWidth: 1,
			        pointHitDetectionRadius: 20,
			        datasetStroke: true,
			        datasetStrokeWidth: 2,
			        datasetFill: false,
			        responsive: true,
			    };


			    var ctx = document.getElementById("lineChart").getContext("2d");
			    var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
			}
    	});
    })

</script>