<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
		<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
		<title>Bomba Austria</title>

		<!-- Site favicon -->
		<link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'> 
		<!-- /site favicon -->

		<!-- Entypo font stylesheet -->
		<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
		<!-- /entypo font stylesheet -->

		<!-- Font awesome stylesheet -->
		<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}"rel="stylesheet">
		<!-- /font awesome stylesheet -->

		<!-- Bootstrap stylesheet min version -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!-- /bootstrap stylesheet min version -->

		<!-- Mouldifi core stylesheet -->
		<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
		<!-- /mouldifi core stylesheet -->

		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


		<link href="{% static "mouldifi/light/css/plugins/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/colorpicker/bootstrap-colorpicker.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/nouislider/nouislider.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet" >
	</head>
	<!-- <body oncontextmenu="return false" onkeydown="return false"> -->
	<body>
		<!-- Page container -->
		<div class="page-container">
			<!-- Page Sidebar -->
			<div class="page-sidebar">
				<!-- Site header  -->
				<header class="site-header">
					<div class="site-logo">
						<a href="">
							<img src=" {% static "/images/logo-bomba.jpg" %}" alt="Bomba Austria" title="Bomba Austria">
						</a>
					</div>
					<div class="sidebar-collapse hidden-xs">
						<a class="sidebar-collapse-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
					<div class="sidebar-mobile-menu visible-xs">
						<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
				</header>
				<!-- /site header -->

				<!-- Main navigation -->
				<ul id="side-nav" class="main-menu navbar-collapse collapse">
					<li id="dashboard" class="">
						<a href="{% url 'secretario:secretario' %}">
							<i class="icon-gauge"></i><span class="title">Dashboard</span>
						</a>
					</li>
			
					<li id="secretario" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Ingresar Recaudador</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="ingresarRecaudador" class="">
								<a href="{% url 'secretario:ingresar_recaudador' %}"><span class="title">Ingresar Recaudador</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar datos de los Socios Cooperadors</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'secretario:visualizar_socios' %}"><span class="title">Visualizar datos de los Socios Cooperadorss</span></a>
							</li>
						</ul>
					</li>
					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar datos de los Socios Cooperadors</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'secretario:estados_cuentas' %}"><span class="title">Visualizar Estados de Cuenta del mes</span></a>
							</li>
						</ul>
					</li>

				</ul>
				<!-- /main navigation -->	
  			</div>
  			<!-- /page sidebar -->

  			<div class="main-content">
				<!-- Main header -->
				<div class="main-header row">
					<div class="col-sm-6 col-xs-7 pull-right">
						<!-- User info -->
						<ul class="user-info pull-right">          
							<li class="profile-info dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
									<img width="44" class="img-circle avatar" alt="" src="{% static "/images/man-3.jpg" %}"> {{request.user.get_full_name}} <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/logout"><i class="icon-logout"></i>Cerrar Sesión</a>
									</li>
								</ul>
							</li>
						</ul>
						<!-- /user info -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title">Modificar Socio Cooperador</h3>
							</div>
							<div class="panel-body">
								<form id="modificado" name="modificado" method="post" class="form-horizontal">{% csrf_token %}
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Codigo Socio</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Codigo Socio" class="form-control" name="codigo" id="codigo" value="{{socio.id}}" disabled="true"> 
												<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Nombre Socio</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Nombre Socio" class="form-control" name="Nombre" id="Nombre" value="{{socio.socio_nombre}}"> 
												<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Rut Socio</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Rut Socio" class="form-control" name="Rut" id="Rut" value="{{socio.socio_rut}}" disabled="true"> 
												<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Direccion</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Direccion" class="form-control" name="Direccion" id="Direccion" value="{{socio.socio_direccion}}"> 
												<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Sector</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<select id="Sector" name="Sector" disabled="true">Sector
													{% if socio.socio_sector %}													
														{% for sector in sectores %}
															{% if sector.id == socio.socio_sector.id%}
																<option value="{{socio.socio_sector.id}}" > {{socio.socio_sector.sector_nombre}}</option>
																<option value="{{sector.id}}">{{ sector.sector_nombre }}</option>
															{%endif%}
														{% endfor %}
													{% else %}
														<option>Seleccione un sector</option>
														{% for sector in sectores %}
															<option value="{{sector.id}}">{{sector.sector_nombre}}</option>
														{% endfor %}
													{% endif %}
												</select>
											</div>
										</div> 
									</div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Monto Aporte</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input onchange="validar_numeros_positivos(this)" type="number" placeholder="Monto Aporte" class="form-control" name="Monto" id="Monto" value="{{socio.socio_aporte}}" min="1" step="1"> 
												<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Dia de Pago</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input onchange="validar_fecha(this)" type="text" placeholder="Dia de Pago" class="form-control" name="Pago" id="Pago" value="{{socio.socio_dia_pago}}" min="1" step="1"> 
												<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Estado</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<select id="estado" class="form-control">
													{% if socio.socio_estado == 'Activo' %}
														<option value="Activo">Activo</option>
														<option value="Inactivo">Inactivo</option>
													{% else %}
														<option value="Inactivo">Inactivo</option>
														<option value="Activo">Activo</option>
													{% endif %}
												</select>
											</div>
										</div> 
									</div>
									<br><br><br>
									<div class="form-group">
										<div class="col-sm-8 col-sm-offset-2">
											<a href="/secretario/" class="btn btn-white pull-left">Cancelar</a>
											<button onclick="guardar()" type="button" class="btn btn-primary pull-right">Actualizar Socio</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<!--Load JQuery-->
<script src="{% static "mouldifi/light/js/jquery.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/bootstrap.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/metismenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery-ui.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery.blockUI.js" %}"></script>

<!--DataTables-->
<script src="{% static "mouldifi/light/js/plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/dataTables.bootstrap.min.js" %}></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/jszip.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/pdfmake.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/vfs_fonts.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js" %}"></script>

<!--Float Charts-->
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.min.js" %}></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.tooltip.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.resize.min.js" %}"></script>
<script src="{%static "mouldifi/light/js/plugins/flot/jquery.flot.selection.min.js" %}"></script>        
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.pie.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.time.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/functions.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.canvas.min.js" %}"></script>
<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>

<script>
	function validar_numeros_positivos(input){
		var valor = input.value
		if (valor > 0){
			return true;
		}
		else{
			input.value = ""
			alert("Debe ingresar un valor mayor o igual a 1!"); 
			return false;
		}
	}

	function validar_fecha(fecha){
		var valor = fecha.value
		if(valor < 1 || valor > 31){
			alert("La fecha de pago debe de estar entre 1 a 31");
			fecha.value = ''
		}
	}
	function guardar(){
		var form = $('#modificado');
		var data = [];
		for (var i = 0; i < form[0].length; i++){
			var aux = {};
			aux[form[0][i].id]= form[0][i].value;
			data.push(aux);
		}
		var url = "{% url "secretario:guardar_socio" %}";
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });

        $.ajax({
            type: 'post',
            url: url,
            data: JSON.stringify(data),
            dataType: 'json',
            success:function(data){
            	var respuesta =JSON.parse(JSON.stringify(data));
            	if (respuesta['respuesta'] == 'correcto') {
                	alert("Guardado con Exito!!");
                	document.location.href='/secretario/visualizar_socios';
                }
                else{
                	alert('UPS! Algo salio mal, favor revisar');	
                }
            }
        });
	}
</script>