<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
		<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
		<title>Bomba Austria</title>

		<!-- Site favicon -->
		<link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'> 
		<!-- /site favicon -->

		<!-- Entypo font stylesheet -->
		<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
		<!-- /entypo font stylesheet -->

		<!-- Font awesome stylesheet -->
		<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}"rel="stylesheet">
		<!-- /font awesome stylesheet -->

		<!-- Bootstrap stylesheet min version -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!-- /bootstrap stylesheet min version -->

		<!-- Mouldifi core stylesheet -->
		<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
		<!-- /mouldifi core stylesheet -->

		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


		<link href="{% static "mouldifi/light/css/plugins/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/colorpicker/bootstrap-colorpicker.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/nouislider/nouislider.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet" >
	</head>
	<!-- <body oncontextmenu="return false" onkeydown="return false"> -->
	<body>
		<!-- Page container -->
		<div class="page-container">
			<!-- Page Sidebar -->
			<div class="page-sidebar">
				<!-- Site header  -->
				<header class="site-header">
					<div class="site-logo">
						<a href="/administrador">
							<img src=" {% static "/images/logo-bomba.jpg" %}" alt="Bomba Austria" title="Bomba Austria">
						</a>
					</div>
					<div class="sidebar-collapse hidden-xs">
						<a class="sidebar-collapse-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
					<div class="sidebar-mobile-menu visible-xs">
						<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
				</header>
				<!-- /site header -->

				<!-- Main navigation -->
				<ul id="side-nav" class="main-menu navbar-collapse collapse">
					<li id="dashboard" class="">
						<a href="/administrador/">
							<i class="icon-gauge"></i><span class="title">Dashboard</span>
						</a>
					</li>
					<li id="pagos" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Boletas</span>
						</a>
						<ul id="navPagos" class="nav collapse">
							<li id="realizarPago" class="">
								<a href="/administrador/visualizar_boletas/"><span class="title">Visualuzar Boletas</span>
								</a>
							</li>
						</ul>
					</li>

		
					<li id="pagos" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Socio Cooperador</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="realizarPago" class="">
								<a href="/administrador/visualizar_socios/"><span class="title">Visualizar Socio Cooperador</span>
								</a>
							</li>
						</ul>
					</li>

					<li id="pagos" class="has-sub">
						<a href="<?php echo base_url('')?>">
							<i class="icon-credit-card"></i><span class="title">Visualizar Talonarios</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="realizarPago" class="">
								<a href="/administrador/visualizar_talonarios/"><span class="title">Visualizar Talonarios</span>
								</a>
							</li>
						</ul>
					</li>

					<li id="pagos" class="has-sub">
						<a href="<?php echo base_url('')?>">
							<i class="icon-credit-card"></i><span class="title">Visualizar Usuarios</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="realizarPago" class="">
								<a href="/administrador/visualizar_usuarios/"><span class="title">Visualizar Usuarios</span>
								</a>
							</li>
						</ul>
					</li>

					<li id="pagos" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Sectores</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="realizarPago" class="">
								<a href="/administrador/visualizar_sectores"><span class="title">Visualizar Sectores</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			<!-- /main navigation -->	
			</div>
			<!-- /page sidebar -->

			<div class="main-content">
				<!-- Main header -->
				<div class="main-header row">
					<div class="col-sm-6 col-xs-7 pull-right">
						<!-- User info -->
						<ul class="user-info pull-right">          
							<li class="profile-info dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
									<img width="44" class="img-circle avatar" alt="" src="{% static "/images/man-3.jpg" %}"> {{request.user.get_full_name}} <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/logout"><i class="icon-logout"></i>Cerrar Sesión</a>
									</li>
								</ul>
							</li>
						</ul>
						<!-- /user info -->
					</div>
				</div>
				<h1 class="page-title">Panel de Administrador</h1>
				<!-- Main content -->
				<br>
				<div class="main-content-20">
					<form id="modificado" name="modificado" method="post" class="form-horizontal">
						<div class="form-group"> 
							<label class="col-sm-2 control-label">Nombre Usuario</label> 
							<div class="col-sm-10"> 
								<div class="input-group"> 
									<input type="text" placeholder="Nombre Usuario" class="form-control form-control required" name="Nombre_user" id="Nombre_user" value="{{usuarios.username}}"> 
									<span class="input-group-addon"><i class="icon-user-add"></i></span>
								</div>
							</div> 
						</div>
						<br><br>
					 	<div class="form-group"> 
							<label class="col-sm-2 control-label">Nombre</label> 
							<div class="col-sm-10"> 
								<div class="input-group"> 
									<input type="text" placeholder="Nombre" class="form-control form-control required" name="Nombre" id="Nombre" value=" {{usuarios.first_name}}"> 
									<span class="input-group-addon"><i class="icon-user-add"></i></span>
								</div>
							</div> 
						</div>
						<br><br>
					 	<div class="form-group"> 
							<label class="col-sm-2 control-label">Apellido</label> 
							<div class="col-sm-10"> 
								<div class="input-group"> 
									<input type="text" placeholder="Apellido" class="form-control form-control required" name="Apellido" id="Apellido" value=" {{usuarios.last_name}}"> 
									<span class="input-group-addon"><i class="icon-user-add"></i></span>
								</div>
							</div> 
						</div>
						<br><br>
						<div class="form-group"> 
							<label class="col-sm-2 control-label">Correo Electronico</label> 
							<div class="col-sm-10"> 
								<div class="input-group"> 
									<input placeholder="Email" type="text" class="form-control required email" name="correo" id="correo" value="{{usuarios.email}}" onchange="validate()"><span class="input-group-addon"><i></i></span>
								</div>
							</div> 
						</div>
						<br><br>
						<div class="form-group"> 
							<label class="col-sm-2 control-label">Contraseña</label> 
							<div class="col-sm-10"> 
								<div class="input-group"> 
									<input placeholder="Password" type="password" class="form-control form-control required" name="password" id="password"><span class="input-group-addon"><i></i></span>
								</div>
							</div> 
						</div>
						<br><br>
						<div class="form-group"> 
							<label class="col-sm-2 control-label">Confirmar Contraseña</label> 
							<div class="col-sm-10"> 
								<div class="input-group"> 
									<input placeholder="Password" type="password" class="form-control form-control required" name="password2" id="password2"><span class="input-group-addon"><i></i></span>
								</div>
							</div> 
						</div>
						<br><br>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">Privilegios</label>
							<div class="col-sm-10">								
								<div class="clearfix">
									{% if usuarios.is_staff %}
										<div class="checkbox checkbox-inline">
											<input type="checkbox" name="es_staff" id="es_staff" checked="true" value="True" onclick ="cambiar_estado(this)"><label for="inlineCheckbox4">Es Staff</label>
										</div>
									{% else %}
										<div class="checkbox checkbox-inline">
											<input type="checkbox" name="es_staff" id="es_staff" value="False" onclick ="cambiar_estado(this)"><label for="is_staff">Es Stafft</label>
										</div>
									{%endif%}
									{% if usuarios.is_superuser %}
										<div class="checkbox checkbox-inline">
											<input type="checkbox" name="is_superuser" id="is_superuser" checked="true" value="True" onclick ="cambiar_estado(this)"><label for="is_superuser">Es Super Usuario</label>
										</div>
									{% else %}
										<div class="checkbox checkbox-inline">
											<input type="checkbox" name="is_superuser" id="is_superuser" value="False" onclick ="cambiar_estado(this)"><label for="is_superuser">Es Super Usuario</label>
										</div>
									{%endif%}
								</div>
							</div>
						</div>
						<br><br>
						<div class="form-group">
							<label class="col-sm-2 control-label">Grupo</label>
							<div class="col-sm-10">								
								<div class="clearfix">
									{%if grupos.name == "Recaudador"%}
											<div class="checkbox checkbox-inline"><input type="checkbox" id="es_recaudador" checked="true" onclick ="cambiar_estado(this)" value="True"><label for="inlineCheckbox4">Recaudador</label></div>
									{%else%}
										<div class="checkbox checkbox-inline"><input type="checkbox" id="es_recaudador" onclick="cambiar_estado(this)" value="False"><label for="inlineCheckbox4">Recaudador</label></div>
									{%endif%}
									{%if grupos.name == "Secretario"%}
											<div class="checkbox checkbox-inline"><input type="checkbox" id="es_secretario" checked="true" onclick="cambiar_estado(this)" value="True"><label for="inlineCheckbox4">Secretario</label></div>
									{%else%}
										<div class="checkbox checkbox-inline"><input type="checkbox" id="es_secretario" onclick="cambiar_estado(this)" value="False"><label for="inlineCheckbox4">Secretario</label></div>
									{%endif%}
									{%if grupos.name == "Tesorero"%}
											<div class="checkbox checkbox-inline"><input type="checkbox" id="es_tesorero" checked="true" onclick="cambiar_estado(this)" value="True"><label for="inlineCheckbox4">Tesorero</label></div>
									{%else%}
										<div class="checkbox checkbox-inline"><input type="checkbox" id="es_tesorero" onclick="cambiar_estado(this)" value="False"><label for="inlineCheckbox4">Tesorero</label></div>
									{%endif%}
									{%if grupos.name == "administrador"%}
											<div class="checkbox checkbox-inline"><input type="checkbox" id="es_admin" checked="true" onclick="cambiar_estado(this)" value="True"><label for="inlineCheckbox4">Administrador</label></div>
									{%else%}
										<div class="checkbox checkbox-inline"><input type="checkbox" id="es_admin" onclick="cambiar_estado(this)" value="False"><label for="inlineCheckbox4">Administrador</label></div>
									{%endif%}

								</div>
							</div>
						</div>
						<br>
						<div class="form-group"> 
							<label class="col-sm-2 control-label">Estado</label> 
							<div class="col-sm-10"> 
								<div class="input-group"> 
									<select id="estado" class="form-control">
										{%if usuarios.is_active == True%}
											<option value="True">Activo</option>
											<option value="False">Inactivo</option>
										{% else %}
											<option value="False">Inactivo</option>
											<option value="True">Activo</option>
										{% endif %}
									</select>
								</div>
							</div> 
						</div>
						<br><br><br>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-2">
								<a href="/administrador/visualizar_usuarios/" class="btn btn-white pull-left">Cancelar</a>
								<button onclick="guardar()" type="button" class="btn btn-primary pull-right">Actualizar Usuario</button>
							</div>
						</div>
					</form>
				</div>
				<!-- Footer -->
				<footer class="footer-main"> 
					&copy; 2017 <strong>Bomba Austria</strong> by Luis Aguilera Vera</a> 
				</footer>	
					<!-- /footer -->
				</div>
				<!-- /main container -->
			</div>
			<!-- /main content -->
		</div>
		<!-- /page container -->
	</body>
</html>

<!--Load JQuery-->
<script src="{% static "mouldifi/light/js/jquery.min.js"%}"></script>
<script src="{% static "mouldifi/light/js/bootstrap.min.js"%}"></script>
<script src="{% static "mouldifi/light/js/plugins/metismenu/jquery.metisMenu.js"%}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery-ui.js"%}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery.blockUI.js"%}"></script>
<script src="{% static "mouldifi/light/js/functions.js"%}"></script>

<!--DataTables-->
<script src="{% static "mouldifi/light/js/plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/jszip.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/pdfmake.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/vfs_fonts.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js" %}"></script>

<!--Float Charts-->
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.tooltip.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.resize.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.pie.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.time.min.js"%}"></script>
<!-- <script src="{% static "mouldifi/light/js/plugins/flot/flot-script.js"%}"></script> -->

<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>
<!--ChartJs-->
<script src="{% static "mouldifi/light/js/plugins/chartjs/Chart.min.js" %}"></script>
<script>
	function cambiar_estado(check){
        if(check.checked == false){
            check.value = 'False';
        }
        else{
            check.value = 'True';   
        }
    }

    function validar_pass(){
    	var pass1 = $('#password').val();
    	var pass2 = $('#password2').val();
    	if (pass1 == pass2){
    		return true;
    	}
    	else{
    		return false;
    	} 
    }

	function guardar(){
		var form = $('#modificado');
		var data = [];
		var falta = [];
		data.push({id : {{usuarios.id}} });
		for (var i = 0; i < form[0].length-1; i++){
			var aux = {};
			if (form[0][i].value != ''){
				aux[form[0][i].id]= form[0][i].value;
				data.push(aux);
			}
			else{
				falta.push(form[0][i].id);
			}
		}
		console.log(data)
		if(validar_pass()){
			if (falta.length == 0){
				var url = "{% url "administrador:actualizar_usuario" %}";
		        $.ajaxSetup({
		            headers: {"X-CSRFToken": '{{csrf_token}}'}
		        });

		        $.ajax({
		        	type: 'post',
		            url: url,
		            data: JSON.stringify(data),
		            dataType: 'json',
		            success:function(data){
		            	if (data['respuesta'] == 'correcto')
		            		alert('Se actualizo correctamente al usuario');
		            		document.location.href='/administrador/visualizar_usuarios/';
		        	}
		        });
		    }
		    
		    else{
		    	var respuesta = " ";
		    	for (var i = 0; i< falta.length; i++){
		    		respuesta += falta[i] + " ";
		    	}
		    	alert("Faltan los siguientes campos: " + respuesta);
		    }
		}
		else{
			alert("Las contraseñas no coinciden");
		}
	}
	function validateEmail(correo) {
  		var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  		return re.test(correo);
	}

	function validate() {
  		var email = $("#correo").val();
  		if (validateEmail(email)) {
    		$("#correo").css("background-color", "#81F781");
  		} else {
  			$("#correo").val("");
    		$("#correo").css("background-color", "#F78181");
    		alert('Correo Invalido')
  		}
  		return false;
	}
</script>
