<!DOCTYPE html>
<html lang="es">
	<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
	<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
	<title>Bomba Austria | Login</title>

	<!-- Site favicon -->
	<link rel='shortcut icon' type='image/x-icon' href='{% static 'images/favicon.ico' %}' />
	<!-- /site favicon -->

	<!-- Entypo font stylesheet -->
	<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
	<!-- /entypo font stylesheet -->

	<!-- Font awesome stylesheet -->
	<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}" rel="stylesheet">
	<!-- /font awesome stylesheet -->

	<!-- Bootstrap stylesheet min version -->
	<link href="{% static "mouldifi/light/css/bootstrap.min.css" %}" rel="stylesheet">
	<!-- /bootstrap stylesheet min version -->

	<!-- Mouldifi core stylesheet -->
	<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
	<!-- /mouldifi core stylesheet -->

	<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

	</head>
	<body class="page-error">
		<div class="page-error-container">
			<div class="page-error-content">
				<div class="error-code">404</div>
					<h4 class="text-center title">Oops, Ha ocurrido un error. Página no encontrada!</h4>
					<p class="text-center"><a href="/" class="btn btn-primary"> Vuelve a la Página Principal</a></p>
			</div>
		</div>
		<!--Load JQuery-->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/bootstrap.min.js" %}></script>
	</body>
</html>