<!DOCTYPE html>
<html lang="es">
	<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
	<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
	<title>Bomba Austria | Login</title>

	<!-- Site favicon -->
	<link rel='shortcut icon' type='image/x-icon' href='{% static 'images/favicon.ico' %}' />
	<!-- /site favicon -->

	<!-- Entypo font stylesheet -->
	<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
	<!-- /entypo font stylesheet -->

	<!-- Font awesome stylesheet -->
	<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}" rel="stylesheet">
	<!-- /font awesome stylesheet -->

	<!-- Bootstrap stylesheet min version -->
	<link href="{% static "mouldifi/light/css/bootstrap.min.css" %}" rel="stylesheet">
	<!-- /bootstrap stylesheet min version -->

	<!-- Mouldifi core stylesheet -->
	<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
	<!-- /mouldifi core stylesheet -->

	<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	      <script src="js/html5shiv.min.js"></script>
	      <script src="js/respond.min.js"></script>
	<![endif]-->


	</head>
	<body class="login-page">
	<div class="login-container">
		<div class="login-branding">
			<a href=""><img src=" {% static "images/bomba.png" %}" alt="Mouldifi" title="Mouldifi"></a>
		</div>
		<div class="login-content">
			<h2><strong>Bienvenido</strong>, logueate para continuar</h2>
			{% if messages %}
				<div class="alert alert-danger"> {{ messages }} </div>
			{% endif %}
			<form method="post" action="{% url "login_auth" %}"> {% csrf_token %}
				<div class="form-group">
					<input type="text" placeholder="Username" class="form-control" id="username" name="username" tabindex="1">
				</div>                        
				<div class="form-group">
					<input type="password" placeholder="Password" class="form-control" id="password" name="password" tabindex="2">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block">Iniciar sesión</button>
				</div>
				<p class="text-center"><a href="#">He olvidado mi contraseña</a></p>                        
			</form>
		</div>
	</div>


	<!--Load JQuery-->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}></script>
	</body>
</html>
