<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
		<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
		<title>Bomba Austria</title>

		<!-- Site favicon -->
		<link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'> 
		<!-- /site favicon -->

		<!-- Entypo font stylesheet -->
		<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
		<!-- /entypo font stylesheet -->

		<!-- Font awesome stylesheet -->
		<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}"rel="stylesheet">
		<!-- /font awesome stylesheet -->

		<!-- Bootstrap stylesheet min version -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!-- /bootstrap stylesheet min version -->

		<!-- Mouldifi core stylesheet -->
		<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
		<!-- /mouldifi core stylesheet -->

		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


		<link href="{% static "mouldifi/light/css/plugins/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/colorpicker/bootstrap-colorpicker.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/nouislider/nouislider.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet" >
	</head>
	<!-- Page container -->
	<div class="page-container">
		<!-- Page Sidebar -->
		<div class="page-sidebar">
			<!-- Site header  -->
			<header class="site-header">
				<div class="site-logo">
					<a href="">
						<img src=" {% static "/images/logo-bomba.jpg" %}" alt="Bomba Austria" title="Bomba Austria">
					</a>
				</div>
				<div class="sidebar-collapse hidden-xs">
					<a class="sidebar-collapse-icon" href="#">
						<i class="icon-menu"></i>
					</a>
				</div>
				<div class="sidebar-mobile-menu visible-xs">
					<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
						<i class="icon-menu"></i>
					</a>
				</div>
			</header>
			<!-- /site header -->

			<!-- Main navigation -->
			<ul id="side-nav" class="main-menu navbar-collapse collapse">
				<li id="dashboard" class="">
					<a href="/recaudador/">
						<i class="icon-gauge"></i><span class="title">Dashboard</span>
					</a>
				</li>
				<li id="pagos" class="has-sub">
					<a href="">
						<i class="icon-credit-card"></i><span class="title">Realizar Pago del mes</span>
					</a>
					<ul id="navPagos" class="nav collapse">
						<li id="realizarPago" class="">
							<a href="/recaudador/realizar_pago">
								<span class="title">Realizar Pago</span>
							</a>
						</li>
					</ul>
				</li>


				<li id="pagos" class="has-sub">
					<a href="">
						<i class="icon-credit-card"></i><span class="title">Ingresar Socio Cooperador</span>
					</a>
					<ul id="navPagos" class="nav collapse"> <!-- nav -->
						<li id="realizarPago" class="">
							<a href="/recaudador/ingresar_socio">
								<span class="title">Ingresar Socio Cooperador</span>
							</a>
						</li>
					</ul>
				</li>

				<li id="pagos" class="has-sub">
					<a href="">
						<i class="icon-credit-card"></i><span class="title">Anular Recibo</span>
					</a>
					<ul id="navPagos" class="nav collapse"> <!-- nav -->
						<li id="realizarPago" class="">
							<a href="/recaudador/boletas">
								<span class="title">Anular Recibo</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- /main navigation -->	
		</div>
		<!-- /page sidebar -->

		<div class="main-content">
			<!-- Main header -->
			<div class="main-header row">
				<div class="col-sm-6 col-xs-7 pull-right">
					<!-- User info -->
					<ul class="user-info pull-right">          
						<li class="profile-info dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
								<img width="44" class="img-circle avatar" alt="" src="{% static "/images/man-3.jpg" %}"> {{request.user.get_full_name}} <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/logout"><i class="icon-logout"></i>Cerrar Sesión</a>
								</li>
							</ul>
						</li>
					</ul>
					<!-- /user info -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<h3 class="panel-title">Ingresar Recibo a Anular</h3>
						</div>
						<div class="panel-body">
							 <form  method="post" class="form-horizontal" id="anular" name="anular">
								<div class="form-group"> 
									<label class="col-sm-2 control-label">Ingresar Número Recibo</label> 
									<div class="col-sm-10"> 
										<div class="input-group"> 
											<input type="number" placeholder="Recibo" class="form-control" name="recibo" id="recibo" onblur="buscar_recibo(this)" min="1" step="1"> 
											<span class="input-group-addon"><i class="icon-user-add"></i></span>
										</div>
									</div> 
								</div>
								<div class="line-dashed"></div>
							 	<div class="form-group"> 
									<label class="col-sm-2 control-label">Número Talonario</label> 
									<div class="col-sm-10"> 
										<div class="input-group"> 
											<input type="text" placeholder="Talonario" class="form-control" name="talonario" id="talonario" disabled=""> 
											<span class="input-group-addon"><i class="icon-user-add"></i></span>
										</div>
									</div> 
								</div>
								<div class="line-dashed"></div>
							 	<div class="form-group"> 
									<label class="col-sm-2 control-label">Nombre Socio</label> 
									<div class="col-sm-10"> 
										<div class="input-group"> 
											<input type="text" placeholder="Nombre Socio" class="form-control" name="socio_nombre" id="socio_nombre" disabled=""> 
											<span class="input-group-addon"><i class="icon-user-add"></i></span>
										</div>
									</div> 
								</div>
								<div class="line-dashed"></div>
							 	<div class="form-group"> 
									<label class="col-sm-2 control-label">Fecha Pago</label> 
									<div class="col-sm-10"> 
										<div class="input-group"> 
											<input type="date" placeholder="Fecha de Pago" class="form-control" name="F_pago" id="F_pago" disabled=""> 
										</div>
									</div> 
								</div>
								<div class="line-dashed"></div>
							 	<div class="form-group"> 
									<label class="col-sm-2 control-label">Monto</label> 
									<div class="col-sm-10"> 
										<div class="input-group"> 
											<input type="text" placeholder="Monto" class="form-control" name="monto" id="monto" disabled=""> 
										</div>
									</div> 
								</div>
								<div class="line-dashed"></div>
							 	<div class="form-group"> 
									<label class="col-sm-2 control-label">Dirección</label> 
									<div class="col-sm-10"> 
										<div class="input-group"> 
											<input type="text" placeholder="Dirección" class="form-control" name="direccion" id="direccion" disabled=""> 
										</div>
									</div> 
								</div>
								<div class="line-dashed"></div>
							 	<div class="form-group"> 
									<label class="col-sm-2 control-label">Sector</label> 
									<div class="col-sm-10"> 
										<div class="input-group"> 
											<select id="sector" name="sector" disabled="true">Sector
												<option>Seleccione Sector</option>
												{% for sector in sectores %}
													<option value="{{sector.id}}">{{ sector.sector_nombre }}</option>
												{% endfor %}
											</select>
										</div>
									</div> 
								</div>
								<div class="line-dashed"></div>
							 	<div class="form-group"> 
									<label class="col-sm-2 control-label">Motivo de la Anulación</label> 
									<div class="col-sm-10"> 
										<div class="input-group"> 
											<textarea name="observacion" id="observacion" cols="30" rows="10"></textarea>
										</div>
									</div> 
								</div>
								<div class="form-group">
									<div class="col-sm-10c	ol-sm-offset-2">
										<a href="/recaudador/" class="btn btn-white pull-left">Cancelar</a>
										<button type="button" class="btn btn-primary pull-right" onclick="guardar()">Anular Boleta</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--Load JQuery-->
<script src="{% static "mouldifi/light/js/jquery.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/bootstrap.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/metismenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery-ui.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery.blockUI.js" %}"></script>

<!--Float Charts-->
<script src="{% static "mouldifi/light/js/functions.js" %}"></script>
<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>
<script>
	function buscar_recibo(id_boleta){
		var param = {
			"id_recibo": id_boleta.value
		};
		var url = "{% url "recaudador:buscar_recibo" %}";
		$.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });

		$.ajax({
			type: "post",
			url:url,
			data: JSON.stringify(param),
			dataType: "json",
			success: function(data){
				var respuesta =JSON.parse(JSON.stringify(data));
				if(respuesta[0] != undefined){
					document.getElementById('talonario').value = respuesta[0]['fields'].boleta_talonario;
					document.getElementById('socio_nombre').value = respuesta[0]['fields'].boleta_socio_nombre;
					document.getElementById('monto').value = respuesta[0]['fields'].boleta_aporte;
					document.getElementById('direccion').value = respuesta[0]['fields'].boleta_socio_direccion;
					document.getElementById('sector').value = respuesta[0]['fields'].boleta_socio_sector;
					document.getElementById('F_pago').value = respuesta[0]['fields'].boleta_fecha;
				}
				else{
					alert(respuesta['mensaje'])
				}

			}
		});
	}
</script>
<script>
function guardar(){
		var form = $('#anular');
		var data = [];
		for (var i = 0; i < form[0].length; i++){
			var aux = {};
			aux[form[0][i].id]= form[0][i].value;
			data.push(aux);
		}
		var url = "{% url "recaudador:anular_boleta" %}";
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });

        $.ajax({
            type: 'post',
            url: url,
            data: JSON.stringify(data),
            dataType: 'json',
            success:function(data){
            	var respuesta =JSON.parse(JSON.stringify(data));
            	if (respuesta['respuesta'] == 'correcto'){
                	alert("Guardado con Exito!!");
                	document.location.href='/recaudador/';
                }
                else{
                	alert(respuesta['respuesta']);	
                }
            }
        });
	}
</script>