<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
		<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
		<title>Bomba Austria</title>

		<!-- Site favicon -->
		<link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'> 
		<!-- /site favicon -->

		<!-- Entypo font stylesheet -->
		<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
		<!-- /entypo font stylesheet -->

		<!-- Font awesome stylesheet -->
		<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}"rel="stylesheet">
		<!-- /font awesome stylesheet -->

		<!-- Bootstrap stylesheet min version -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!-- /bootstrap stylesheet min version -->

		<!-- Mouldifi core stylesheet -->
		<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
		<!-- /mouldifi core stylesheet -->

		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


		<link href="{% static "mouldifi/light/css/plugins/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/colorpicker/bootstrap-colorpicker.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/nouislider/nouislider.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet" >
	</head>

	<!-- Page container -->
	<div class="page-container">
		<!-- Page Sidebar -->
		<div class="page-sidebar">
			<!-- Site header  -->
			<header class="site-header">
				<div class="site-logo">
					<a href="">
						<img src=" {% static "/images/logo-bomba.jpg" %}" alt="Bomba Austria" title="Bomba Austria">
					</a>
				</div>
				<div class="sidebar-collapse hidden-xs">
					<a class="sidebar-collapse-icon" href="#">
						<i class="icon-menu"></i>
					</a>
				</div>
				<div class="sidebar-mobile-menu visible-xs">
					<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
						<i class="icon-menu"></i>
					</a>
				</div>
			</header>
			<!-- /site header -->

			<!-- Main navigation -->
			<ul id="side-nav" class="main-menu navbar-collapse collapse">
				<li id="dashboard" class="">
					<a href="/recaudador/">
						<i class="icon-gauge"></i><span class="title">Dashboard</span>
					</a>
				</li>
				<li id="pagos" class="has-sub">
					<a href="">
						<i class="icon-credit-card"></i><span class="title">Realizar Pago del mes</span>
					</a>
					<ul id="navPagos" class="nav collapse">
						<li id="realizarPago" class="">
							<a href="/recaudador/realizar_pago">
								<span class="title">Realizar Pago</span>
							</a>
						</li>
					</ul>
				</li>


				<li id="pagos" class="has-sub">
					<a href="">
						<i class="icon-credit-card"></i><span class="title">Ingresar Socio Cooperador</span>
					</a>
					<ul id="navPagos" class="nav collapse"> <!-- nav -->
						<li id="realizarPago" class="">
							<a href="/recaudador/ingresar_socio">
								<span class="title">Ingresar Socio Cooperador</span>
							</a>
						</li>
					</ul>
				</li>

				<li id="pagos" class="has-sub">
					<a href="">
						<i class="icon-credit-card"></i><span class="title">Anular Recibo</span>
					</a>
					<ul id="navPagos" class="nav collapse"> <!-- nav -->
						<li id="realizarPago" class="">
							<a href="/recaudador/boletas">
								<span class="title">Anular Recibo</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- /main navigation -->	
		</div>
		<!-- /page sidebar -->

		<div class="main-content">
			<!-- Main header -->
			<div class="main-header row">
				<div class="col-sm-6 col-xs-7 pull-right">
					<!-- User info -->
					<ul class="user-info pull-right">          
						<li class="profile-info dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
								<img width="44" class="img-circle avatar" alt="" src="{% static "/images/man-3.jpg" %}"> {{request.user.get_full_name}} <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/logout"><i class="icon-logout"></i>Cerrar Sesión</a>
								</li>
							</ul>
						</li>
					</ul>
					<!-- /user info -->
				</div>
			</div>

			<div class="main-content">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title">Ingresar Nuevo Socio</h3>
							</div>
							<div class="panel-body">
					 			<form method="post" class="form-horizontal" id="socio" name="socio">
					 				<div class="form-group"> 
										<label class="col-sm-2 control-label">Nombre</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Nombre" class="form-control" name="Nombre" id="Nombre"> 
													<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<div class="line-dashed"></div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Apellido</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Apellido" class="form-control" name="Apellido" id="Apellido"> 
													<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<div class="line-dashed"></div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">RUT</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Rut" class="form-control" name="Rut" id="Rut"> 
												<span class="input-group-addon"><i class="icon-vcard"></i></span>
											</div>
										</div> 
									</div>
									<div class="line-dashed"></div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Dirección</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Dirección" class="form-control" name="Direccion" id="Direccion"> 
												<span class="input-group-addon"><i class="icon-direction"></i></span>
											</div>
										</div> 
									</div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Sector</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<select id="sector" name="sector">Sector
													<option>Seleccione Sector</option>
													{% for sector in sectores %}
														<option value="{{sector.id}}">{{ sector.sector_nombre }}</option>
													{% endfor %}
												</select>
											</div>
										</div> 
									</div>
									<div class="line-dashed"></div>
									<div class="line-dashed"></div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Fecha de Nacimiento</label> 
										<div class="col-sm-10"> 
											<input type="date" class="form-control" name="Fecha_nac" id="Fecha_nac"> 
										</div> 
									</div>
									<div class="line-dashed"></div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Teléfono</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Teléfono" class="form-control" name="Telefono" id="Telefono"> 
												<span class="input-group-addon"><i class="icon-phone"></i></span>
											</div>
										</div> 
									</div>

									<div class="line-dashed"></div>
									<div class="line-dashed"></div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Fecha de Pago</label> 
										<div class="col-sm-10"> 
											<input type="input" placeholder="Fehca de Pago" class="form-control" name="FechaPago" id="FechaPago" onchange="validar_fecha(this)"> 
										</div> 
									</div>

									<div class="line-dashed"></div>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Monto</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="number" placeholder="Monto a pagar" class="form-control" name="Monto" id="Monto" onchange="validar_numeros_positivos(this)"> 
												<span class="input-group-addon"><i class="icon-paypal"></i></span>
											</div>
										</div> 
									</div>
									<div class="line-dashed"></div>
									<div class="form-group">
										<div class="col-sm-10c	ol-sm-offset-2">
											<a href="/recaudador/" class="btn btn-white pull-left">Cancelar</a>
											<button type="button" class="btn btn-primary pull-right" onclick="guardar()">Guardar Socio</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>
<!--Load JQuery-->
<script src="{% static "mouldifi/light/js/jquery.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/bootstrap.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/metismenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery-ui.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery.blockUI.js" %}"></script>

<!--Float Charts-->
<script src="{% static "mouldifi/light/js/functions.js" %}"></script>
<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>

<script>
	function validar_numeros_positivos(input){
		var valor = input.value
		if (valor > 0){
			return true;
		}
		else{
			input.value = ""
			alert("Debe ingresar un valor mayor o igual a 1!"); 
			return false;
		}
	}

	function validar_fecha(fecha){
		var valor = fecha.value
		if(valor < 1 || valor > 31){
			alert("La fecha de pago debe de estar entre 1 a 31");
			fecha.value = ''
		}
	}
	function guardar(){
		var form = $('#socio');
		var data = [];
		for (var i = 0; i < form[0].length; i++){
			var aux = {};
			aux[form[0][i].id]= form[0][i].value;
			data.push(aux);
		}
		var url = "{% url "recaudador:guardar_socio" %}";
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });

        $.ajax({
            type: 'post',
            url: url,
            data: JSON.stringify(data),
            dataType: 'json',
            success:function(data){
            	var respuesta =JSON.parse(JSON.stringify(data));
            	if (respuesta['respuesta'] == 'correcto'){
                	alert("Guardado con Exito!!");
                	document.location.href='/recaudador/ingresar_socio';
                }
                else{
                	alert(respuesta['respuesta']);	
                }
            }
        });
	}
</script>