<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
		<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
		<title>Bomba Austria</title>

		<!-- Site favicon -->
		<link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'> 
		<!-- /site favicon -->

		<!-- Entypo font stylesheet -->
		<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
		<!-- /entypo font stylesheet -->

		<!-- Font awesome stylesheet -->
		<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}"rel="stylesheet">
		<!-- /font awesome stylesheet -->

		<!-- Bootstrap stylesheet min version -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!-- /bootstrap stylesheet min version -->

		<!-- Mouldifi core stylesheet -->
		<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
		<!-- /mouldifi core stylesheet -->

		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


		<link href="{% static "mouldifi/light/css/plugins/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/colorpicker/bootstrap-colorpicker.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/nouislider/nouislider.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet" >
	</head>
	<!-- <body oncontextmenu="return false" onkeydown="return false"> -->
	<body>
		<!-- Page container -->
		<div class="page-container">
			<!-- Page Sidebar -->
			<div class="page-sidebar">
				<!-- Site header  -->
				<header class="site-header">
					<div class="site-logo">
						<a href="">
							<img src=" {% static "/images/logo-bomba.jpg" %}" alt="Bomba Austria" title="Bomba Austria">
						</a>
					</div>
					<div class="sidebar-collapse hidden-xs">
						<a class="sidebar-collapse-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
					<div class="sidebar-mobile-menu visible-xs">
						<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
				</header>
				<!-- /site header -->
				<!-- Main navigation -->
				<ul id="side-nav" class="main-menu navbar-collapse collapse">
					<li id="dashboard" class="">
						<a href="/administrador/">
							<i class="icon-gauge"></i><span class="title">Dashboard</span>
						</a>
					</li>
					<li id="pagos" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Boletas</span>
						</a>
						<ul id="navPagos" class="nav collapse">
							<li id="realizarPago" class="">
								<a href="/administrador/visualizar_boletas/"><span class="title">Visualuzar Boletas</span>
								</a>
							</li>
						</ul>
					</li>

		
					<li id="pagos" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Socio Cooperador</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="realizarPago" class="">
								<a href="/administrador/visualizar_socios/"><span class="title">Visualizar Socio Cooperador</span>
								</a>
							</li>
						</ul>
					</li>

					<li id="pagos" class="has-sub">
						<a href="<?php echo base_url('')?>">
							<i class="icon-credit-card"></i><span class="title">Visualizar Talonarios</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="realizarPago" class="">
								<a href="/administrador/visualizar_talonarios/"><span class="title">Visualizar Talonarios</span>
								</a>
							</li>
						</ul>
					</li>

					<li id="pagos" class="has-sub">
						<a href="<?php echo base_url('')?>">
							<i class="icon-credit-card"></i><span class="title">Visualizar Usuarios</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="realizarPago" class="">
								<a href="/administrador/visualizar_usuarios/"><span class="title">Visualizar Usuarios</span>
								</a>
							</li>
						</ul>
					</li>

					<li id="pagos" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Sectores</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="realizarPago" class="">
								<a href="/administrador/visualizar_sectores"><span class="title">Visualizar Sectores</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			<!-- /main navigation -->	
			</div>
			<!-- /page sidebar -->
	  		<div class="main-content">
				<!-- Main header -->
				<!-- Main header -->
				<div class="main-header row">
					<div class="col-sm-6 col-xs-7 pull-right">
						<!-- User info -->
						<ul class="user-info pull-right">          
							<li class="profile-info dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
									<img width="44" class="img-circle avatar" alt="" src="{% static "/images/man-3.jpg" %}"> {{request.user.get_full_name}} <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/logout"><i class="icon-logout"></i>Cerrar Sesión</a>
									</li>
								</ul>
							</li>
						</ul>
						<!-- /user info -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title">Guardar Nuevo Talonario</h3>
							</div>
							<div class="panel-body">
								<form id="modificado" name="modificado" method="post" class="form-horizontal">
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Nombre Recaudador</label> 
										<div class="col-sm-10"> 
											<select name="recaudador" id="recaudador">
												{% for recaudador in recaudadores %}
													{% if recaudador.id == boleta.boleta_recaudador.user.id %}
														<option value="{{boleta.boleta_recaudador.id}}"> {{boleta.boleta_recaudador.get_fullname}} </option>
													{% elif recaudador.id != boleta.boleta_recaudador.user.id %}
														<option value="{{recaudador.id}}"> {{recaudador.get_full_name}} </option>
													{% endif %}
												{% endfor %}
											</select>
										</div> 
									</div>
									<br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Número de Talonario</label> 
										<div class="col-sm-10"> 
											<input type="text" placeholder="Número de Talonario" class="form-control" name='Talonario' id='Talonario' onchange="validar_talonario(this)"> 
										</div> 
									</div>
									<br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Estado</label> 
										<div class="col-sm-10"> 
											<select name="estado" id="estado">
												<option value="True"> Activa</option>
												<option value="False"> Anulada  </option>
											</select>
										</div> 
									</div>
									<br><br><br>
									<div class="form-group">
										<div class="col-sm-8 col-sm-offset-2">
											<a href="/administrador/visualizar_boletas/" class="btn btn-white pull-left">Cancelar</a>
											<button onclick="guardar()" type="button" class="btn btn-primary pull-right">Guardar Talonario</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<!--Load JQuery-->
<script src="{% static "mouldifi/light/js/jquery.min.js"%}"></script>
<script src="{% static "mouldifi/light/js/bootstrap.min.js"%}"></script>
<script src="{% static "mouldifi/light/js/plugins/metismenu/jquery.metisMenu.js"%}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery-ui.js"%}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery.blockUI.js"%}"></script>
<script src="{% static "mouldifi/light/js/functions.js"%}"></script>

<!--DataTables-->
<script src="{% static "mouldifi/light/js/plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/jszip.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/pdfmake.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/vfs_fonts.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js" %}"></script>

<!--Float Charts-->
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.tooltip.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.resize.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.pie.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.time.min.js"%}"></script>
<!-- <script src="{% static "mouldifi/light/js/plugins/flot/flot-script.js"%}"></script> -->

<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>
<!--ChartJs-->
<script src="{% static "mouldifi/light/js/plugins/chartjs/Chart.min.js" %}"></script>

<script>
	function validar_talonario(talonario){
		var data = { id : talonario.value};
		var url = "{% url "administrador:validar_talonario" %}";
		$.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });
        $.ajax({
        	type: 'post',
            url: url,
            data: data,
            dataType: 'json',
            success:function(data){
            	if(data['respuesta'] != 'OK'){
            		$(talonario).css("background-color", "#81F781");
            	}
            	else if(data['respuesta'] == 'OK'){
            		$(talonario).css("background-color", "#F78181");
            		$(talonario).val('')
            		alert("Talonario ya Existe!!");
            	}
            }
        });
	}

	function guardar(){
		var form = $('#modificado');
		var data = [];
		for (var i = 0; i < form[0].length; i++){
			var aux = {};
			aux[form[0][i].id]= form[0][i].value;
			data.push(aux);
		}
		var url = "{% url "administrador:guardar_talonario" %}";
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });

        $.ajax({
            type: 'post',
            url: url,
            data: JSON.stringify(data),
            dataType: 'json',
            success:function(data){
            	var respuesta =JSON.parse(JSON.stringify(data));
            	if (respuesta['respuesta'] == 'correcto') {
                	alert("Talonario actualizado con Exito!!");
                	document.location.href='/administrador/visualizar_talonarios/';
                }
                else{
                	alert('UPS! Algo salio mal, favor revisar');	
                }
            }
        });
	}
</script>