<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
		<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
		<title>Bomba Austria</title>

		<!-- Site favicon -->
		<link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'> 
		<!-- /site favicon -->

		<!-- Entypo font stylesheet -->
		<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
		<!-- /entypo font stylesheet -->

		<!-- Font awesome stylesheet -->
		<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}"rel="stylesheet">
		<!-- /font awesome stylesheet -->

		<!-- Bootstrap stylesheet min version -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!-- /bootstrap stylesheet min version -->

		<!-- Mouldifi core stylesheet -->
		<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
		<!-- /mouldifi core stylesheet -->

		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


		<link href="{% static "mouldifi/light/css/plugins/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/colorpicker/bootstrap-colorpicker.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/nouislider/nouislider.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet" >
	</head>
	<!-- <body oncontextmenu="return false" onkeydown="return false"> -->
	<body>
		<!-- Page container -->
		<div class="page-container">
			<!-- Page Sidebar -->
			<div class="page-sidebar">
				<!-- Site header  -->
				<header class="site-header">
					<div class="site-logo">
						<a href="">
							<img src=" {% static "/images/logo-bomba.jpg" %}" alt="Bomba Austria" title="Bomba Austria">
						</a>
					</div>
					<div class="sidebar-collapse hidden-xs">
						<a class="sidebar-collapse-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
					<div class="sidebar-mobile-menu visible-xs">
						<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
				</header>
				<!-- /site header -->
				<!-- Main navigation -->
				<ul id="side-nav" class="main-menu navbar-collapse collapse">
					<li id="dashboard" class="">
						<a href="/tesorero">
							<i class="icon-gauge"></i><span class="title">Dashboard</span>
						</a>
					</li>
			
					<li id="secretario" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Balance del Trimestre</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="ingresarRecaudador" class="">
								<a href="{% url 'tesorero:visualizar_balance' %}"><span class="title">Visualizar Balance del Trimestre</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Boletas Anuladas</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="modificarRecaudador" class="">
								<a href="{% url 'tesorero:visualizar_boletas_anuladas' %}"><span class="title">Visualizar Boletas Anuladas</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Socios Activos</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'tesorero:visualizar_socios_activos' %}"><span class="title">Visualizar Socios Activos</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Recaudadores Activos</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'tesorero:visualizar_recaudador' %}"><span class="title">Visualizar Recaudadores</span></a>
							</li>
						</ul>
					</li>

				</ul>
				<!-- /main navigation -->	
  			</div>
  			<!-- /page sidebar -->
  		<div class="main-content">
				<!-- Main header -->
				<div class="main-header row">
					<div class="col-sm-6 col-xs-7 pull-right">
						<!-- User info -->
						<ul class="user-info pull-right">          
							<li class="profile-info dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
									<img width="44" class="img-circle avatar" alt="" src="{% static "/images/man-3.jpg" %}"> {{request.user.get_full_name}} <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/logout"><i class="icon-logout"></i>Cerrar Sesión</a>
									</li>
								</ul>
							</li>
						</ul>
						<!-- /user info -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title">Tesorero</h3>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<div class="form-group"> 
										<label class="col-sm-3 control-label">Seleccione el Trimestre que quiere generar</label> 
										<div class="col-sm-5"> 
											<select class="select2 form-control" id="trimeste" name="trimeste">
												<option value="">Seleccione una opción</option>
												<option value="1">Trimestre 1</option>
												<option value="2">Trimestre 2</option>
												<option value="3">Trimestre 3</option>
												<option value="4">Trimestre 4</option>
											</select>
										</div>
										<div>
											<button type="button" onclick="cargar_datos()"> Cargar Datos</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="panel panel-default">
										<div class="panel-heading clearfix">
											<h3 class="panel-title">Mes 1</h3>
										</div>
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table" id="tabla_mes_1">
													<thead> 
														<tr> 
															<th>Sector</th> 
															<th>Recaudador</th> 
															<th>Total Recaudado</th> 
															<th>Comisión</th> 
															<th>Total Compañia</th>
														</tr> 
													</thead> 
													<tbody id="mes_1"> 
														
													</tbody> 
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="panel panel-default">
										<div class="panel-heading clearfix">
											<h3 class="panel-title">Mes 2</h3>
										</div>
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table table-striped" id="tabla_mes_2">
													<thead> 
														<tr> 
															<th>Sector</th> 
															<th>Recaudador</th> 
															<th>Total Recaudado</th> 
															<th>Comisión</th> 
															<th>Total Compañia</th>
														</tr> 
													</thead> 
													<tbody id="mes_2"> 
														
													</tbody> 
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="panel panel-default">
										<div class="panel-heading clearfix">
											<h3 class="panel-title">Mes 3</h3>
										</div>
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table table-bordered" id="tabla_mes_3">
													<thead> 
														<tr> 
															<th>Sector</th> 
															<th>Recaudador</th> 
															<th>Total Recaudado</th> 
															<th>Comisión</th> 
															<th>Total Compañia</th>
														</tr> 
													</thead> 
													<tbody id="mes_3"> 
														
													</tbody> 
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="panel panel-default">
										<div class="panel-heading clearfix">
											<h3 class="panel-title">Totales Trimestre</h3>
										</div>
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table table-hover" id="tabla_totales">
													<thead> 
														<tr> 
															<th>Sector</th> 
															<th>Recaudador</th> 
															<th>Total Recaudado</th> 
															<th>Comisión</th> 
															<th>Total Compañia</th>
														</tr> 
													</thead> 
													<tbody id="totales"> 
														
													</tbody> 
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-2">
										<a href="/tesorero/visualizar_balance/" class="btn btn-white pull-left">Volver</a>
										<button id="btn_descargar" disabled="true" onclick="guardar()" type="button" class="btn btn-primary pull-right">Descargar Balance</button>
									</div>
								</div>
								<br><br>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<!--Load JQuery-->
<script src="{% static "mouldifi/light/js/jquery.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/bootstrap.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/metismenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery-ui.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery.blockUI.js" %}"></script>

<!--Float Charts-->
<script src="{% static "mouldifi/light/js/functions.js" %}"></script>
<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/select2/select2.full.min.js" %}"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.js"></script>

<script>
	var contenido1 = document.querySelector('#mes_1');
	var contenido2 = document.querySelector('#mes_2');
	var contenido3 = document.querySelector('#mes_3');
	var contenido4 = document.querySelector('#totales');
	function cargar_datos(){
		trimestre = document.getElementById('trimeste').value;
		if (trimestre != '') {
			var url = "/tesorero/cargar_datos/" + trimestre;
			fetch(url)
				.then(res => res.json())
				.then(datos => {
					if (datos['mensaje']){
						alert(datos['mensaje'])
					}
					else{
						tabla(datos)
					}
				})
		}
		else{
			alert("Debe seleccionar una opción");
		}
	}
	function tabla(datos){
		contenido1.innerHTML = ''
		contenido2.innerHTML = ''
		contenido3.innerHTML = ''
		contenido4.innerHTML = ''
		for (var i = 0; i < datos['context'].length; i++){
			if(datos['context'][i].pos == 1){
				contenido1.innerHTML += `
					<tr>
						<td id="${datos['context'][i].id_sector}"> ${datos['context'][i].sector}</td>
						<td id="${datos['context'][i].mes}"> ${datos['context'][i].recaudador} </td>
						<td aling='center' id="total_recaudado"> ${datos['context'][i].total} </td>
						<td id="total_comision"> ${Math.round(datos['context'][i].total * 0.3)} </td>
						<td id="total_compania"> ${Math.round(datos['context'][i].total - (datos['context'][i].total * 0.3))}</td>
						<td style="display: none"> ${datos['context'][i].id_recaudador} </td>
					</tr>
				`
			}

			else if(datos['context'][i].pos == 2){
				contenido2.innerHTML += `
					<tr>
						<td id="${datos['context'][i].id_sector}"> ${datos['context'][i].sector}</td>
						<td id="${datos['context'][i].mes}"> ${datos['context'][i].recaudador} </td>
						<td aling='center' id="total_recaudado"> ${datos['context'][i].total} </td>
						<td id="total_comision"> ${Math.round(datos['context'][i].total * 0.3)} </td>
						<td id="total_compania"> ${Math.round(datos['context'][i].total - (datos['context'][i].total * 0.3))}</td>
						<td style="display: none"> ${datos['context'][i].id_recaudador} </td>
					</tr>
				`	
			}

			else if(datos['context'][i].pos == 3){
				contenido3.innerHTML += `
					<tr>
						<td id="${datos['context'][i].id_sector}"> ${datos['context'][i].sector}</td>
						<td id="${datos['context'][i].mes}"> ${datos['context'][i].recaudador} </td>
						<td aling='center' id="total_recaudado"> ${datos['context'][i].total} </td>
						<td id="total_comision"> ${Math.round(datos['context'][i].total * 0.3)} </td>
						<td id="total_compania"> ${Math.round(datos['context'][i].total - (datos['context'][i].total * 0.3))} </td>
						<td style="display: none"> ${datos['context'][i].id_recaudador} </td>
					</tr>
				`
			}
			else if(datos['context'][i].pos == 4){
				contenido4.innerHTML += `
					<tr>
						<td> ${datos['context'][i].sector}</td>
						<td id="${datos['context'][i].trimestre}"> ${datos['context'][i].recaudador} </td>
						<td aling='center' id="total_recaudado"> ${datos['context'][i].total} </td>
						<td id="total_comision"> ${Math.round(datos['context'][i].total * 0.3)} </td>
						<td id="total_compania"> ${Math.round(datos['context'][i].total - (datos['context'][i].total * 0.3))}
					</tr>
				`
			}
		}
		document.getElementById('btn_descargar').disabled=false;
	}

	function guardar(){
		data = []
		var mes1 = contenido1.rows[0].children[1].id;
		var mes2 = contenido2.rows[0].children[1].id;
		var mes3 = contenido3.rows[0].children[1].id
		var trimestre = contenido4.rows[0].children[1].id;
		for (var i = 0; i < contenido1.rows.length; i++){
			aux = {
				mes 			: contenido1.rows[i].children[1].id,
				sector 			: contenido1.rows[i].children[0].id,
				recaudador 		: contenido1.rows[i].children[5].innerHTML,
				total_recaudado : contenido1.rows[i].children[2].innerHTML,
				total_comision	: contenido1.rows[i].children[3].innerHTML,
				total_compania	: contenido1.rows[i].children[4].innerHTML,
			}
			data.push(aux);
		}
		for (var i = 0; i < contenido2.rows.length; i++){
			aux = {
				mes 			: contenido2.rows[i].children[1].id,
				sector 			: contenido2.rows[i].children[0].id,
				recaudador 		: contenido2.rows[i].children[5].innerHTML,
				total_recaudado : contenido2.rows[i].children[2].innerHTML,
				total_comision	: contenido2.rows[i].children[3].innerHTML,
				total_compania	: contenido2.rows[i].children[4].innerHTML,
			}
			data.push(aux);
		}
		for (var i = 0; i < contenido3.rows.length; i++){
			aux = {
				mes 			: contenido3.rows[i].children[1].id,
				sector 			: contenido3.rows[i].children[0].id,
				recaudador 		: contenido3.rows[i].children[5].innerHTML,
				total_recaudado : contenido3.rows[i].children[2].innerHTML,
				total_comision	: contenido3.rows[i].children[3].innerHTML,
				total_compania	: contenido3.rows[i].children[4].innerHTML,
			}
			data.push(aux);
		}
		for (var i = 0; i < contenido4.rows.length; i++){
			aux = {
				trimestre 		: contenido4.rows[i].children[1].id,
				total_recaudado : contenido4.rows[i].children[2].innerHTML,
				total_comision	: contenido4.rows[i].children[3].innerHTML,
				total_compania	: contenido4.rows[i].children[4].innerHTML,

			}
			data.push(aux);
		}
		var url = "{% url "tesorero:guardar_balance" %}";
			
	    $.ajaxSetup({
	    	headers: {"X-CSRFToken": '{{csrf_token}}'}
	    });
	    $.ajax({
			url: url,
			type: 'post',
		    data: JSON.stringify(data),
	        dataType: 'json',
			success: function(response){
				var mensaje = JSON.parse(JSON.stringify(response));
				if (mensaje['paso'] == true){
					pruebaDivAPdf(mes1,mes2,mes3,trimestre);
					alert(mensaje['respuesta']);
					document.location.href='/tesorero/visualizar_balance';
				}
				if (mensaje['paso'] == false){
					alert(mensaje['respuesta']);
				}
			}
		});
	}
	function pruebaDivAPdf(mes1,mes2,mes3,trimestre) {
	   	var meses = {
	   		1	: 'Enero',
	   		2	: 'Febrero',
	   		3	: 'Marzo',
	   		4	: 'Abril',
	   		5	: 'Mayo',
	   		6	: 'Junio',
	   		7	: 'Julio',
	   		8	: 'Agosto',
	   		9	: 'Septiembre',
	   		10	: 'Octubre',
	   		11	: 'Noviembre',
	   		12	: 'Diciembre',
	   	}

		var doc = new jsPDF('p', 'pt');
		var res1 = doc.autoTableHtmlToJson(document.getElementById("tabla_mes_1"));
		var res2 = doc.autoTableHtmlToJson(document.getElementById("tabla_mes_2"));
		var res3 = doc.autoTableHtmlToJson(document.getElementById("tabla_mes_3"));
		var res = doc.autoTableHtmlToJson(document.getElementById("tabla_totales"));

		var logo = new Image();
		doc.text(200, 20, 'Reporte del ' + trimestre);
		doc.text(180, 40, 'Septima Compañia Bomba Austria');
		console.log(logo)
		logo.src = '{% static "/images/logo-bomba.jpg" %}';
		doc.addImage(logo, 'JPEG', 450, 10,80,80);


		var header = function(data) {
			doc.setFontSize(18);
			doc.setTextColor(40);
			doc.setFontStyle('normal');
			//doc.addImage(headerImgData, 'JPEG', data.settings.margin.left, 20, 50, 50);
			doc.text("Totales Mes " + meses[mes1], data.settings.margin.left, 80);
		};

		var header2 = function(data){
			doc.setFontSize(18);
			doc.setTextColor(40);
			doc.setFontStyle('normal');
			//doc.addImage(headerImgData, 'JPEG', data.settings.margin.left, 20, 50, 50);
			doc.text("Totales Mes " + meses[mes2], data.settings.margin.left, 200);
		}

		var header3 = function(data){
			doc.setFontSize(18);
			doc.setTextColor(40);
			doc.setFontStyle('normal');
			//doc.addImage(headerImgData, 'JPEG', data.settings.margin.left, 20, 50, 50);
			doc.text("Totales Mes " + meses[mes3], data.settings.margin.left, 320);
		}

		var header4 = function(data){
			doc.setFontSize(18);
			doc.setTextColor(40);
			doc.setFontStyle('normal');
			//doc.addImage(headerImgData, 'JPEG', data.settings.margin.left, 20, 50, 50);
			doc.text("Totales para el " + trimestre, data.settings.margin.left, 450);
		}

		var options = {
			addPageContent: header,
			margin: {
				top: 80
			},
			startY: doc.autoTableEndPosY() + 100
		};

		var options2 = {
			addPageContent: header2,
			margin: {
				top: 80
			},
			startY: doc.autoTableEndPosY() + 220

		}

		var options3 = {
			addPageContent: header3,
			margin: {
				top: 80
			},
			startY: doc.autoTableEndPosY() + 350

		}

		var options4 = {
			addPageContent: header4,
			margin: {
				top: 80
			},
			startY: doc.autoTableEndPosY() + 470

		}


		doc.autoTable(res1.columns, res1.data, options);
		doc.autoTable(res2.columns, res2.data, options2);
		doc.autoTable(res3.columns, res3.data, options3);
		doc.autoTable(res.columns, res.data, options4);

		doc.save("Balance_Socios_Cooperadores del " + trimestre +".pdf");
}

</script>