<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
		<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
		<title>Bomba Austria</title>

		<!-- Site favicon -->
		<link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'> 
		<!-- /site favicon -->

		<!-- Entypo font stylesheet -->
		<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
		<!-- /entypo font stylesheet -->

		<!-- Font awesome stylesheet -->
		<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}"rel="stylesheet">
		<!-- /font awesome stylesheet -->

		<!-- Bootstrap stylesheet min version -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!-- /bootstrap stylesheet min version -->

		<!-- Mouldifi core stylesheet -->
		<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
		<!-- /mouldifi core stylesheet -->

		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


		<link href="{% static "mouldifi/light/css/plugins/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/colorpicker/bootstrap-colorpicker.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/nouislider/nouislider.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet" >
	</head>
	<!-- <body oncontextmenu="return false" onkeydown="return false"> -->
	<body>
		<!-- Page container -->
		<div class="page-container">
			<!-- Page Sidebar -->
			<div class="page-sidebar">
				<!-- Site header  -->
				<header class="site-header">
					<div class="site-logo">
						<a href="">
							<img src=" {% static "/images/logo-bomba.jpg" %}" alt="Bomba Austria" title="Bomba Austria">
						</a>
					</div>
					<div class="sidebar-collapse hidden-xs">
						<a class="sidebar-collapse-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
					<div class="sidebar-mobile-menu visible-xs">
						<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
				</header>
				<!-- /site header -->
				<!-- Main navigation -->
				<ul id="side-nav" class="main-menu navbar-collapse collapse">
					<li id="dashboard" class="">
						<a href="/tesorero">
							<i class="icon-gauge"></i><span class="title">Dashboard</span>
						</a>
					</li>
			
					<li id="secretario" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Balance del Trimestre</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="ingresarRecaudador" class="">
								<a href="{% url 'tesorero:visualizar_balance' %}"><span class="title">Visualizar Balance del Trimestre</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Boletas Anuladas</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="modificarRecaudador" class="">
								<a href="{% url 'tesorero:visualizar_boletas_anuladas' %}"><span class="title">Visualizar Boletas Anuladas</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Socios Activos</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'tesorero:visualizar_socios_activos' %}"><span class="title">Visualizar Socios Activos</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Recaudadores Activos</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'tesorero:visualizar_recaudador' %}"><span class="title">Visualizar Recaudadores Activos</span></a>
							</li>
						</ul>
					</li>

				</ul>
				<!-- /main navigation -->	
  			</div>
  			<!-- /page sidebar -->
	  		<div class="main-content">
				<!-- Main header -->
				<!-- Main header -->
				<div class="main-header row">
					<div class="col-sm-6 col-xs-7 pull-right">
						<!-- User info -->
						<ul class="user-info pull-right">          
							<li class="profile-info dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
									<img width="44" class="img-circle avatar" alt="" src="{% static "/images/man-3.jpg" %}"> {{request.user.get_full_name}} <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/logout"><i class="icon-logout"></i>Cerrar Sesión</a>
									</li>
								</ul>
							</li>
						</ul>
						<!-- /user info -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title">Modificar Recaudador</h3>
							</div>
							<div class="panel-body">
								<form id="modificado" name="modificado" method="post" class="form-horizontal">
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Nombre Recaudador</label> 
										<div class="col-sm-10"> 
											<select name="recaudador" id="recaudador">
												{% for recaudador in recaudadores %}
													{% if recaudador.id == boleta.boleta_recaudador.user.id %}
														<option value="{{boleta.boleta_recaudador.id}}"> {{boleta.boleta_recaudador.get_fullname}} </option>
													{% elif recaudador.id != boleta.boleta_recaudador.user.id %}
														<option value="{{recaudador.id}}"> {{recaudador.get_full_name}} </option>
													{% endif %}
												{% endfor %}
											</select>
										</div> 
									</div>
									<br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Número de Boleta</label> 
										<div class="col-sm-10"> 
											<input onchange="validar_boleta(this)" type="text" placeholder="Número de Boleta" class="form-control" name='Boleta' id='Boleta' value="{{boleta.boleta_numero}}" disabled="true"> 
										</div> 
									</div>
									<br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Número de Talonario</label> 
										<div class="col-sm-10"> 
											<input onchange="validar_talonario(this)" type="text" placeholder="Número de Talonario" class="form-control" name='Talonario' id='Talonario' value="{{boleta.boleta_talonario.id}}"> 
										</div> 
									</div>
									<br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Nombre Socio</label> 
										<div class="col-sm-10"> 
											<select name="Socio" id="Socio">
												<option value="{{boleta.boleta_socio.id}}"> {{boleta.boleta_socio.socio_nombre}}</option>
												{% for socio in socios %}
													{% if boleta.boleta_socio.id == socio.id %}

													{% elif boleta.boleta_socio.id != socio.id %}
														<option value="{{socio.id}}">{{socio.socio_nombre}}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div> 
									</div>
									<br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Fecha de la Boleta</label> 
										<div class="col-sm-10"> 
											<input type="date" placeholder="Fecha de la Boleta" class="form-control" name='boleta_fecha' id='boleta_fecha' value="{{fecha}}"> 
										</div> 
									</div>
									<br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Aporte</label> 
										<div class="col-sm-10"> 
											<input onchange="validar_numeros_positivos(this)" type="text" placeholder="Aporte" class="form-control" name='Aporte' id='Aporte' value="{{boleta.boleta_aporte}}"> 
										</div> 
									</div>
									<br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Observación</label> 
										<div class="col-sm-10"> 
											<textarea type="text" class="form-control" name='Observacion' id='Observacion' >{{boleta.boleta_socio_observacion}}</textarea>
										</div> 
									</div>
									<br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Estado</label> 
										<div class="col-sm-10"> 
											<select name="estado" id="estado">
												{% if boleta.boleta_estado == False %}
													<option value="False"> Anulada  </option>
												{% endif %}
												<option value="True"> Revalidada</option>
											</select>
										</div> 
									</div>
									<br><br><br>
									<div class="form-group">
										<div class="col-sm-8 col-sm-offset-2">
											<a href="/tesorero/" class="btn btn-white pull-left">Cancelar</a>
											<button onclick="guardar()" type="button" class="btn btn-primary pull-right">Actualizar Boleta</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<!--Load JQuery-->
<script src="{% static "mouldifi/light/js/jquery.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/bootstrap.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/metismenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery-ui.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery.blockUI.js" %}"></script>

<!--Float Charts-->
<script src="{% static "mouldifi/light/js/functions.js" %}"></script>
<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>

<script>
	function validar_numeros_positivos(numero){
		var valor = numero.value
		if (valor > 0){
			$(numero).css("background-color", "#81F781");
		}
		else{
			numero.value = ""
			alert("Debe ingresar un valor mayor o igual a 1!"); 
			$(numero).css("background-color", "#F78181");
		}

	}
	function validar_boleta(boleta){
		var data = { id : boleta.value};
		var url = "{% url "administrador:validar_boleta" %}";
		$.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });
        $.ajax({
        	type: 'post',
            url: url,
            data: data,
            dataType: 'json',
            success:function(data){
            	if(data['respuesta'] == 'OK'){
            		$(boleta).css("background-color", "#81F781");
            	}
            	else if(data['respuesta'] != 'OK'){
            		$(boleta).css("background-color", "#F78181");
            		alert(data['respuesta']);
            	}
            }
        });
	}

	function validar_talonario(talonario){
		var data = { id : talonario.value};
		var url = "{% url "administrador:validar_talonario" %}";
		$.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });
        $.ajax({
        	type: 'post',
            url: url,
            data: data,
            dataType: 'json',
            success:function(data){
            	if(data['respuesta'] == 'OK'){
            		$(talonario).css("background-color", "#81F781");
            	}
            	else if(data['respuesta'] != 'OK'){
            		$(talonario).css("background-color", "#F78181");
            		alert(data['respuesta']);
            	}
            }
        });
	}
	function guardar(){
		var form = $('#modificado');
		var data = [];
		for (var i = 0; i < form[0].length; i++){
			var aux = {};
			aux[form[0][i].id]= form[0][i].value;
			data.push(aux);
		}
		console.log(data);
		var url = "{% url "tesorero:guardar_boleta" %}";
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });

        $.ajax({
            type: 'post',
            url: url,
            data: JSON.stringify(data),
            dataType: 'json',
            success:function(data){
            	var respuesta =JSON.parse(JSON.stringify(data));
            	if (respuesta['respuesta'] == 'correcto') {
                	alert("Guardado con Exito!!");
                	document.location.href='/tesorero/visualizar_boletas_anuladas/';
                }
                else{
                	alert('UPS! Algo salio mal, favor revisar');	
                }
            }
        });
	}
</script>