<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
		<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
		<title>Bomba Austria</title>

		<!-- Site favicon -->
		<link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'> 
		<!-- /site favicon -->

		<!-- Entypo font stylesheet -->
		<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
		<!-- /entypo font stylesheet -->

		<!-- Font awesome stylesheet -->
		<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}"rel="stylesheet">
		<!-- /font awesome stylesheet -->

		<!-- Bootstrap stylesheet min version -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!-- /bootstrap stylesheet min version -->

		<!-- Mouldifi core stylesheet -->
		<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
		<!-- /mouldifi core stylesheet -->

		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


		<link href="{% static "mouldifi/light/css/plugins/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/colorpicker/bootstrap-colorpicker.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/nouislider/nouislider.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet" >
	</head>
	<!-- <body oncontextmenu="return false" onkeydown="return false"> -->
	<body>
		<!-- Page container -->
		<div class="page-container">
			<!-- Page Sidebar -->
			<div class="page-sidebar">
				<!-- Site header  -->
				<header class="site-header">
					<div class="site-logo">
						<a href="">
							<img src=" {% static "/images/logo-bomba.jpg" %}" alt="Bomba Austria" title="Bomba Austria">
						</a>
					</div>
					<div class="sidebar-collapse hidden-xs">
						<a class="sidebar-collapse-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
					<div class="sidebar-mobile-menu visible-xs">
						<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
				</header>
				<!-- /site header -->

				<!-- Main navigation -->
				<ul id="side-nav" class="main-menu navbar-collapse collapse">
					<li id="dashboard" class="">
						<a href="/tesorero">
							<i class="icon-gauge"></i><span class="title">Dashboard</span>
						</a>
					</li>
			
					<li id="tesorero" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Balance del Trimestre</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="ingresarRecaudador" class="">
								<a href="{% url 'tesorero:visualizar_balance' %}"><span class="title">Visualizar Balance del Trimestre</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Boletas Anuladas</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="modificarRecaudador" class="">
								<a href="{% url 'tesorero:visualizar_boletas_anuladas' %}"><span class="title">Visualizar Boletas Anuladas</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Socios Activos</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'tesorero:visualizar_socios_activos' %}"><span class="title">Visualizar Socios Activos</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Recaudadores Activos</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'tesorero:visualizar_recaudador' %}"><span class="title">Visualizar Recaudadores</span></a>
							</li>
						</ul>
					</li>

				</ul>
				<!-- /main navigation -->	
  			</div>
  			<!-- /page sidebar -->

  			<div class="main-content">
				<!-- Main header -->
				<div class="main-header row">
					<div class="col-sm-6 col-xs-7 pull-right">
						<!-- User info -->
						<ul class="user-info pull-right">          
							<li class="profile-info dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
									<img width="44" class="img-circle avatar" alt="" src="{% static "/images/man-3.jpg" %}"> {{request.user.get_full_name}} <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/logout"><i class="icon-logout"></i>Cerrar Sesión</a>
									</li>
								</ul>
							</li>
						</ul>
						<!-- /user info -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title">Modificar Recaudador</h3>
							</div>
							<div class="panel-body">
								<form id="modificado" name="modificado" method="post" class="form-horizontal">
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Nombre Usuario</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Nombre Usuario" class="form-control" name="Nombre_user" id="Nombre_user" value="{{recaudador.username}}"> 
												<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<br><br><br>
								 	<div class="form-group"> 
										<label class="col-sm-2 control-label">Nombre</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" placeholder="Nombre" class="form-control" name="Nombre" id="Nombre" value="{{recaudador.get_full_name}}"> 
												<span class="input-group-addon"><i class="icon-user-add"></i></span>
											</div>
										</div> 
									</div>
									<br><br><br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Correo Electronico</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="text" class="form-control" name="correo" id="correo" value="{{recaudador.email}}">
											</div>
										</div> 
									</div>
									<br><br><br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Contraseña</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="password" class="form-control" name="password" id="password">
											</div>
										</div> 
									</div>
									<br><br><br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Confirmar Contraseña</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<input type="password" class="form-control" name="password2" id="password2">
											</div>
										</div> 
									</div>
									<br><br><br>
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Estado</label> 
										<div class="col-sm-10"> 
											<div class="input-group"> 
												<select id="estado" class="form-control">
													<option value="True">Activo</option>
													<option value="False">Inactivo</option>
												</select>
											</div>
										</div> 
									</div>
									<br><br><br>
									<div class="form-group">
										<div class="col-sm-8 col-sm-offset-2">
											<a href="/tesorero/" class="btn btn-white pull-left">Cancelar</a>
											<button onclick="guardar()" type="button" class="btn btn-primary pull-right">Actualizar Recaudador</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<!--Load JQuery-->
<script src="{% static "mouldifi/light/js/jquery.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/bootstrap.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/metismenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery-ui.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery.blockUI.js" %}"></script>

<!--Float Charts-->
<script src="{% static "mouldifi/light/js/functions.js" %}"></script>
<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>

<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>

<script>
	function validar_pass(){
		var pass1 = $('#password').val();
		var pass2 = $('#password2').val();
		if (pass1 != pass2){
			return false;
		}
		else{
			return true;
		}

	}

	function guardar(){
		var form = $('#modificado');
		var data = [];
		for (var i = 0; i < form[0].length; i++){
			var aux = {};
			aux[form[0][i].id]= form[0][i].value;
			data.push(aux);
		}
		var url = "{% url "tesorero:guardar_modificado" %}";
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });

        $.ajax({
            type: 'post',
            url: url,
            data: JSON.stringify(data),
            dataType: 'json',
            success:function(data){
            	var respuesta =JSON.parse(JSON.stringify(data));
            	if (respuesta['respuesta'] == 'correcto' && validar_pass() == true) {
                	alert("Guardado con Exito!!");
                	document.location.href='/tesorero/visualizar_recaudador/';
                }
                else{
                	if(validar_pass() == false){
                		alert('UPS! Algo salio mal, favor revisar');	
                	}
                }
            }
        });
	}
</script>