<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
		<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
		<title>Bomba Austria</title>

		<!-- Site favicon -->
		<link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'> 
		<!-- /site favicon -->

		<!-- Entypo font stylesheet -->
		<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
		<!-- /entypo font stylesheet -->

		<!-- Font awesome stylesheet -->
		<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}"rel="stylesheet">
		<!-- /font awesome stylesheet -->

		<!-- Bootstrap stylesheet min version -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!-- /bootstrap stylesheet min version -->

		<!-- Mouldifi core stylesheet -->
		<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
		<!-- /mouldifi core stylesheet -->

		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


		<link href="{% static "mouldifi/light/css/plugins/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/colorpicker/bootstrap-colorpicker.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/nouislider/nouislider.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet" >
	</head>
	<!-- <body oncontextmenu="return false" onkeydown="return false"> -->
	<body>
		<!-- Page container -->
		<div class="page-container">
			<!-- Page Sidebar -->
			<div class="page-sidebar">
				<!-- Site header  -->
				<header class="site-header">
					<div class="site-logo">
						<a href="">
							<img src=" {% static "/images/logo-bomba.jpg" %}" alt="Bomba Austria" title="Bomba Austria">
						</a>
					</div>
					<div class="sidebar-collapse hidden-xs">
						<a class="sidebar-collapse-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
					<div class="sidebar-mobile-menu visible-xs">
						<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
				</header>
				<!-- /site header -->
				<!-- Main navigation -->
				<ul id="side-nav" class="main-menu navbar-collapse collapse">
					<li id="dashboard" class="">
						<a href="/tesorero">
							<i class="icon-gauge"></i><span class="title">Dashboard</span>
						</a>
					</li>
			
					<li id="secretario" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Balance del Trimestre</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="ingresarRecaudador" class="">
								<a href="{% url 'tesorero:visualizar_balance' %}"><span class="title">Visualizar Balance del Trimestre</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Boletas Anuladas</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="modificarRecaudador" class="">
								<a href="{% url 'tesorero:visualizar_boletas_anuladas' %}"><span class="title">Visualizar Boletas Anuladas</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Socios Activos</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'tesorero:visualizar_socios_activos' %}"><span class="title">Visualizar Socios Activos</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Recaudadores Activos</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'tesorero:visualizar_recaudador' %}"><span class="title">Visualizar Recaudadores</span></a>
							</li>
						</ul>
					</li>

				</ul>
				<!-- /main navigation -->	
  			</div>
  			<!-- /page sidebar -->
  		<div class="main-content">
				<!-- Main header -->
				<div class="main-header row">
					<div class="col-sm-6 col-xs-7 pull-right">
						<!-- User info -->
						<ul class="user-info pull-right">          
							<li class="profile-info dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
									<img width="44" class="img-circle avatar" alt="" src="{% static "/images/man-3.jpg" %}"> {{request.user.get_full_name}} <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/logout"><i class="icon-logout"></i>Cerrar Sesión</a>
									</li>
								</ul>
							</li>
						</ul>
						<!-- /user info -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title">Modificar Balance</h3>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<div class="form-group"> 
										
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-sm-12 col-md-12">
									<div class="panel panel-default">
										<div class="panel-heading clearfix">
											<h3 class="panel-title">Totales</h3>
										</div>
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table" id="tabla_mes_1">
													<thead> 
														<tr> 
															<th>Total Recaudado</th> 
															<th>Total Comision</th> 
															<th>Total Compañia</th>
														</tr> 
													</thead> 
													<tbody id="mes_1"> 
														<tr>
															<td>
																<input disabled="true" value="{{totales.total_recaudado}}" type="number">
															</td>
															<td>
																<input disabled="true" value="{{totales.comision}}" type="number">
															</td>
															<td>
																<input disabled="true" value="{{totales.total_compania}}" type="number">
															</td>
														</tr>
													</tbody> 
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-sm-12 col-md-12">
									<div class="panel panel-default">
										<div class="panel-heading clearfix">
											<h3 class="panel-title">Detalle</h3>
										</div>
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table table-bordered" id="tabla_mes_3">
													<thead> 
														<tr> 
															<th>Sector</th> 
															<th>Mes</th>
															<th>Recaudador</th>
															<th>Total Recaudado</th> 
															<th>Comisión</th> 
															<th>Total Compañia</th>
														</tr> 
													</thead> 
													<tbody id="mes_3"> 
														{% for mes in meses %}
															<tr>
																<td>
																	<input type="text" name="" value="{{mes.sector.sector_nombre}}">
																</td>
																<td>
																	<input  type="number" value="{{mes.mes}}" onchange="validar_numeros_positivos(this)">
																</td>
																<td><input type="text" value="{{mes.recaudador.get_fullname}}"></td>
																<td>
																	<input  type="number" value="{{mes.total_recaudado}}" onchange="validar_numeros_positivos(this)">
																</td>
																<td>
																	<input  type="number" value="{{mes.comision}}" onchange="validar_numeros_positivos(this)">
																</td>
																<td>
																	<input  type="number" value="{{mes.total_compania}}" name="total_compania_2" onchange="validar_numeros_positivos(this)">
																</td>
															</tr>
														{% endfor %}
													</tbody> 														
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-2">
										<a href="/tesorero/visualizar_balance/" class="btn btn-white pull-left">Volver</a>
										<button id="btn_descargar" onclick="guardar()" type="button" class="btn btn-primary pull-right">Guardar Balance</button>
									</div>
								</div>
								<br><br>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<!--Load JQuery-->
<script src="{% static "mouldifi/light/js/jquery.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/bootstrap.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/metismenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery-ui.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery.blockUI.js" %}"></script>

<!--Float Charts-->
<script src="{% static "mouldifi/light/js/functions.js" %}"></script>
<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/select2/select2.full.min.js" %}"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.js"></script>

<script>
	// var contenido1 = document.get('#mes_1');
	var contenido3 = document.querySelector('#mes_3');

	function validar_numeros_positivos(numero){
		var valor = numero.value;
		if (valor > 0){
			$(numero).css("background-color", "#81F781");
		}
		else{
			numero.value = ""
			alert("Debe ingresar un valor mayor o igual a 1!"); 
			$(numero).css("background-color", "#F78181");
		}

	}
	
	function guardar(){
		data = []
		console.log(document.getElementById('tabla_mes_1').rows[1].children[0].children[0].value)
		console.log(contenido3)
		// for (var i = 0; i < contenido1.rows.length; i++){
		// 	aux = {
		// 		total_recaudado : contenido1.rows[i].children[0].value,
		// 		total_comision	: contenido1.rows[i].children[1].value,
		// 		total_compania	: contenido1.rows[i].children[2].value,
		// 	}
		// 	data.push(aux);
		// }
		console.log(data)
		// for (var i = 0; i < contenido3.rows.length; i++){
		// 	aux = {

		// 	}
		// 	data.push(aux);
		// }
		
		// var url = "{% url "tesorero:guardar_balance" %}";
			
	 //    $.ajaxSetup({
	 //    	headers: {"X-CSRFToken": '{{csrf_token}}'}
	 //    });
	 //    $.ajax({
		// 	url: url,
		// 	type: 'post',
		//     data: JSON.stringify(data),
	 //        dataType: 'json',
		// 	success: function(response){
		// 		var mensaje = JSON.parse(JSON.stringify(response));
		// 		if (mensaje['paso'] == true){
		// 			pruebaDivAPdf(mes1,mes2,mes3,trimestre);
		// 			alert(mensaje['respuesta']);
		// 			document.location.href='/tesorero/visualizar_balance';
		// 		}
		// 		if (mensaje['paso'] == false){
		// 			alert(mensaje['respuesta']);
		// 		}
		// 	}
		// });
	}

</script>