<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
		<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
		<title>Bomba Austria</title>

		<!-- Site favicon -->
		<link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'> 
		<!-- /site favicon -->

		<!-- Entypo font stylesheet -->
		<link href="{% static "mouldifi/light/css/entypo.css" %}" rel="stylesheet">
		<!-- /entypo font stylesheet -->

		<!-- Font awesome stylesheet -->
		<link href="{% static "mouldifi/light/css/font-awesome.min.css" %}"rel="stylesheet">
		<!-- /font awesome stylesheet -->

		<!-- Bootstrap stylesheet min version -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!-- /bootstrap stylesheet min version -->

		<!-- Mouldifi core stylesheet -->
		<link href="{% static "mouldifi/light/css/mouldifi-core.css" %}" rel="stylesheet">
		<!-- /mouldifi core stylesheet -->

		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


		<link href="{% static "mouldifi/light/css/plugins/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/colorpicker/bootstrap-colorpicker.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/plugins/nouislider/nouislider.css" %} rel="stylesheet">
		<link href="{% static "mouldifi/light/css/mouldifi-forms.css" %}" rel="stylesheet" >
	</head>
	<!-- <body oncontextmenu="return false" onkeydown="return false"> -->
	<body>
		<!-- Page container -->
		<div class="page-container">
			<!-- Page Sidebar -->
			<div class="page-sidebar">
				<!-- Site header  -->
				<header class="site-header">
					<div class="site-logo">
						<a href="">
							<img src=" {% static "/images/logo-bomba.jpg" %}" alt="Bomba Austria" title="Bomba Austria">
						</a>
					</div>
					<div class="sidebar-collapse hidden-xs">
						<a class="sidebar-collapse-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
					<div class="sidebar-mobile-menu visible-xs">
						<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
				</header>
				<!-- /site header -->
				<!-- Main navigation -->
				<ul id="side-nav" class="main-menu navbar-collapse collapse">
					<li id="dashboard" class="">
						<a href="/tesorero">
							<i class="icon-gauge"></i><span class="title">Dashboard</span>
						</a>
					</li>
			
					<li id="tesorero" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Balance del Trimestre</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="ingresarRecaudador" class="">
								<a href="{% url 'tesorero:visualizar_balance' %}"><span class="title">Visualizar Balance del Trimestre</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Boletas Anuladas</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="modificarRecaudador" class="">
								<a href="{% url 'tesorero:visualizar_boletas_anuladas' %}"><span class="title">Visualizar Boletas Anuladas</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Socios Activos</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'tesorero:visualizar_socios_activos' %}"><span class="title">Visualizar Socios Activos</span></a>
							</li>
						</ul>
					</li>

					<li id="recaudador" class="has-sub">
						<a href="">
							<i class="icon-credit-card"></i><span class="title">Visualizar Recaudadores</span>
						</a>
						<ul id="navPagos" class="nav collapse"> <!-- nav -->
							<li id="verdatos" class="">
								<a href="{% url 'tesorero:visualizar_recaudador' %}"><span class="title">Visualizar Recaudadores</span></a>
							</li>
						</ul>
					</li>

				</ul>
				<!-- /main navigation -->	
  			</div>
  			<!-- /page sidebar -->

  			<div class="main-content">
				<!-- Main header -->
				<div class="main-header row">
					<div class="col-sm-6 col-xs-7 pull-right">
						<!-- User info -->
						<ul class="user-info pull-right">          
							<li class="profile-info dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
									<img width="44" class="img-circle avatar" alt="" src="{% static "/images/man-3.jpg" %}"> {{request.user.get_full_name}} <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/logout"><i class="icon-logout"></i>Cerrar Sesión</a>
									</li>
								</ul>
							</li>
						</ul>
						<!-- /user info -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title">Modificar Recaudador</h3>
								<ul class="panel-tool-options"> 
									<li>
										<a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a>
									</li>
								</ul>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table id="example" class="table table-striped table-bordered table-hover dataTables-example">
										<thead>
											<tr>
												<th>ID Socio</th>
												<th>Rut Socio</th>
												<th>Nombre Socio</th>
												<th>Aporte Boleta</th>
												<th>Modificar</th>
											</tr>
										</thead>
										<tbody>
											{% if Socios %}
												{% for socio in Socios %}
													<tr>
														<td>{{socio.id}}</td>
														<td>{{socio.socio_rut}}</td>
														<td>{{socio.socio_nombre}}</td>
														<td>{{socio.socio_aporte}}</td>
														<td>
															<a href="{% url 'tesorero:modificar_socio' socio.id %}" type="button" class="btn btn-primary btn-outline">Modificar</a>
														</td>
													</tr>
												{% endfor %}
											{% else %}
												<tr>
													<td>No hay datos</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
												</tr>
											{% endif %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<!--Load JQuery-->
<script src="{% static "mouldifi/light/js/jquery.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/bootstrap.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/metismenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery-ui.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/blockui-master/jquery.blockUI.js" %}"></script>

<!--DataTables-->
<script src="{% static "mouldifi/light/js/plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/dataTables.bootstrap.min.js" %}></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/jszip.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/pdfmake.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/vfs_fonts.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js" %}"></script>

<!--Float Charts-->
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.min.js" %}></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.tooltip.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.resize.min.js" %}"></script>
<script src="{%static "mouldifi/light/js/plugins/flot/jquery.flot.selection.min.js" %}"></script>        
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.pie.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.time.min.js" %}"></script>
<script src="{% static "mouldifi/light/js/functions.js" %}"></script>
<script src="{% static "mouldifi/light/js/plugins/flot/jquery.flot.canvas.min.js" %}"></script>
<script src="{% static "js/autorrelleno.js" %}"></script>

<!--ChartJs-->
<script src="{% static "js/flot.js" %}"></script>

<!-- DatePicker-->
<script src="{% static "mouldifi/light/js/plugins/datepicker/bootstrap-datepicker.js" %}"></script>
<script>
	$('#example').DataTable({
		language: {
	        "decimal": "",
	        "emptyTable": "No hay información",
	        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
	        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
	        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
	        "infoPostFix": "",
	        "thousands": ",",
	        "lengthMenu": "Mostrar _MENU_ Entradas",
	        "loadingRecords": "Cargando...",
	        "processing": "Procesando...",
	        "search": "Buscar:",
	        "zeroRecords": "Sin resultados encontrados",
	        "paginate": {
	            "first": "Primero",
	            "last": "Ultimo",
	            "next": "Siguiente",
	            "previous": "Anterior"
	        }
	    }
	});
</script>
